<div class="navigation <%= type %>">
  <div class="left">
    <% include ../includes/logo %>
    <div class="links">
      <a href="<%= dashboard_path %>/dashboard" class="<%= isActive(dashboard, "dashboard") %>">
        <span class="fa fa-th-large"></span>
        Dashboard
      </a>
      <a href="<%= dashboard_path %>/campaigns" class="<%= isActive(dashboard, "campaigns") %>">
        <span class="fa fa-folder"></span>
        Campaigns
      </a>
      <a href="<%= dashboard_path %>/units" class="<%= isActive(dashboard, "units") %>">
        <span class="fa fa-tags"></span>
        Ad Units
      </a>
      <a href="<%= dashboard_path %>/settings" class="<%= isActive(dashboard, "settings") %>">
        <span class="fa fa-cog"></span>
        Settings
      </a>
    </div>
  </div>
  <div class="right links">
    <% if(user.is_admin) { %>
      <a href="/admin">
        Admin Center
      </a>
      <span class="spacer"></span>
    <% } %>
    <a href="/account">
      Profile
    </a>
    <a href="/logout">
      Logout
    </a>
  </div>
  <div class="clear"></div>
</div>