<div class="targeting-select">Show Advanced Targeting</div>
<div class="section targeting-hide hidden">
  <div class="header">Targeting</div>
  <p>
    Leaving a field blank will disable targeting for that attribute.
  </p>
  <table class="targeting-table shifted">
    <tr>
      <td class="title">Industries<span>OPTIONAL</span></td>
      <td valign="top">
        <select class="chosen-select full" name="industries[]" multiple data-placeholder="Select the industries to target...">
          <% industries.forEach(function(industry, i) { %>
            <option value="<%= industry.id %>"><%= industry.name %></option>
          <% }) %>
        </select>
      </td>
    </tr>
    <tr>
      <td class="title">Days<span>OPTIONAL</span></td>
      <td valign="top">
        <select class="chosen-select full" name="targeting[days][]" multiple data-placeholder="Select the days to target...">
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
          <option value="sunday">Sunday</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="title">Devices<span>OPTIONAL</span></td>
      <td valign="top">
        <select class="chosen-select full" name="targeting[devices][]" multiple data-placeholder="Select the devices to target...">
          <option value="desktop">Desktop</option>
          <option value="mobile">Mobile</option>
          <option value="tablet">Tablet</option>
          <option value="tv">Smart TV</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="title">OS<span>OPTIONAL</span></td>
      <td valign="top">
        <select class="chosen-select full" name="targeting[os][]" multiple data-placeholder="Select the operating systems to target...">
          <option value="windows">Windows</option>
          <option value="osx">OSX</option>
          <option value="linux">Linux</option>
          <option value="ios">iOS</option>
          <option value="android">Android</option>
          <option value="windows phone">Windows Phone</option>
          <option value="blackberry">Blackberry</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="title">Browsers<span>OPTIONAL</span></td>
      <td valign="top">
        <select class="chosen-select full" name="targeting[browsers][]" multiple data-placeholder="Select the browsers to target...">
          <option value="chrome">Chrome</option>
          <option value="firefox">Firefox</option>
          <option value="safari">Safari</option>
          <option value="opera">Opera</option>
          <option value="ie">Internet Explorer</option>
          <option value="edge">Microsoft Edge</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="title">Countries<span>OPTIONAL</span></td>
      <td valign="top">
        <select class="chosen-select full" name="targeting[countries][]" multiple data-placeholder="Select the countries to target...">
          <% 
            regions = Object.keys(country_data.regions)
            regions.forEach(function(region_code) {
              region = country_data.regions[region_code] 
              region.countries = region.countries.filter(function(country) {
                return approved_countries.indexOf(country.toLowerCase()) > -1
              })
              
              if(region.countries.length == 0) return;
          %>
            <optgroup label="<%= region.name %>">
              <% region.countries.forEach(function(code) { %>
                <% country = country_data.countries[code] %>
                <option value="<%= country.alpha2.toLowerCase() %>"><%= country.name %></option>
              <% }) %>
            </optgroup>
          <% }) %>
        </select>
      </td>
    </tr>
  </table>
</div>