<div class="display">
  <span>
    The goal of this guide is to ease the process of using <%= company %>'s API Campaigns.
    Please note that the guide is a work in progress and subject to change. We will reach
    out if any changes are required on your end after the setup is complete.
  </span>
  <div id="intro" class="section">
    <h3>1.&nbsp;&nbsp;Introduction</h3>
    <p>
      <%= company %> offers a wide variety of campaign formats ranging from static images,
      to social and commerce templates. When creating a campaign through our online builder,
      each campaign is associated with one format. This is inherently limiting
      to enterprise advertisers who has a vast variety of formats they would like to
      advertise on a single campaign.
    </p>
    <p>
      The API Campaigns is our solution for enterprise advertisers by allowing a single campaign
      to request an ad from a URL provided to <%= company %>. The API workflow is as follows:
      <img src="/imgs/workflow.png"/>
    </p>
  </div>
  <div id="request" class="section">
    <h3>2.&nbsp;&nbsp;API Request <span>(GET)</span></h3>
    <p>
      In this section we will go over the GET request <span>payload object</span>. The following
      payload attributes will be sent in the GET request to URL you have provided.
    </p>
    <div class="mini-table">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <th><span>Name</span></th>
          <th><span>Type</span></th>
          <th style="width: 400px;"><span>Example Values</span></th>
        </thead>
        <body>
          <tr>
            <td>advertiser_id</td>
            <td>Unique String</td>
            <td>
              "jlM92n"
            </td>
          </tr>
          <tr>
            <td>campaign_id</td>
            <td>Unique Int</td>
            <td>
              12
            </td>
          </tr>
          <tr>
            <td>publisher_id</td>
            <td>Unique String</td>
            <td>
              "a7jkl5"
            </td>
          </tr>
          <tr>
            <td>user_id</td>
            <td>Unique String</td>
            <td>
              "a7jkl5d3423nesd8d9sk3jd"
            </td>
          </tr>
          <tr>
            <td>width</td>
            <td>Int</td>
            <td>
              300
            </td>
          </tr>
          <tr>
            <td>height</td>
            <td>Int</td>
            <td>
              250
            </td>
          </tr>
          <tr>
            <td>country_code</td>
            <td>String</td>
            <td>
              "us", "ca", "mx", "de", "gb",
              "tr", "nz", "fr", "au", "se",
              "ph", "in", "cn", "jp", "no",
              "dk", "fi"
            </td>
          </tr>
          <tr>
            <td>response_format</td>
            <td>String</td>
            <td>"json"</td>
          </tr>
          <tr>
            <td>user_ip</td>
            <td>String</td>
            <td>"192.168.1.1"</td>
          </tr>
          <tr>
            <td>user_agent</td>
            <td>String</td>
            <td>"Mozilla/5.0 (Linux; U; Android 4.0.4; en-gb; GT-I9300 Build/IMM76D) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30"</td>
          </tr>
        </body>
      </table>
    </div>
  </div>
  <div id="response" class="section">
    <h3>3.&nbsp;&nbsp;API Response</h3>
    <p>
      In this section we will go over the response <span>payload object</span> <%= company %> is expecting.
    </p>
    <div class="mini-table">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <th><span>Name</span></th>
          <th><span>Type</span></th>
          <th style="width: 400px;"><span>Example Values</span></th>
        </thead>
        <body>
          <tr>
            <td>id</td>
            <td>Unique String</td>
            <td>
              "jlM92n"
            </td>
          </tr>
          <tr>
            <td>format</td>
            <td>String</td>
            <td>
              "image", "social", "commerce", "video"
            </td>
          </tr>
          <tr>
            <td>config</td>
            <td><a href="#formats">Ad Format Object</a></td>
            <td>
              <pre>
                <code style="width: 400px" class="js"><% include ./image_format %></code>
              </pre>
            </td>
          </tr>
        </body>
      </table>
    </div>
  </div>
  <div id="formats" class="section">
    <h3>4.&nbsp;&nbsp;Ad Formats</h3>
    <p>
      <%= company %> offers a number of ad template formats. Here are the configurations for each format:
    </p>
    <div class="mini-table">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <th style="width: 150px;"><span>Name</span></th>
          <th><span>Example Values</span></th>
        </thead>
        <body>
          <tr>
            <td>image</td>
            <td>
              <pre>
                <code class="js"><% include ./image_format %></code>
              </pre>
            </td>
          </tr>
          <tr>
            <td>social</td>
            <td>
              <pre>
                <code class="js"><% include ./social_format %></code>
              </pre>
            </td>
          </tr>
          <tr>
            <td>commerce</td>
            <td>
              <pre>
                <code class="js"><% include ./commerce_format %></code>
              </pre>
            </td>
          </tr>
          <tr>
            <td>video</td>
            <td>
              <pre>
                <code class="js"><% include ./video_format %></code>
              </pre>
            </td>
          </tr>
        </body>
      </table>
    </div>
  </div>
</div>
