    <!-- Site Config -->
    <script type="text/javascript">
      var config = Object.assign({
        host: "<%= host %>",
        title: "<%= full_title %>",
        name: "<%= site_title %>",
        delimeter: "<%= site_delimeter %>",
        media: <%- JSON.stringify(media) %>
      }, JSON.parse('<%- JSON.stringify(config) %>'))
    </script>
    
    <!-- Intercom -->
    <script>
      var json = '<%- JSON.stringify(Object.assign(intercom_base, intercom)) %>'
      window.intercomSettings = JSON.parse(json, function (key, value) {
        if (key.indexOf("_at") > -1) {
          return new Date(value)
        }
        
        return value
      })
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/jlsf08kq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    
    <!-- Javascript -->
    <%- js %>
  </body>
</html>
