<div id="features" class="supports">
  <h2>
    <%= company %> works seamlessly with the<br>
    networks you already use!
  </h2>
  <div class="images">
    <img src="/imgs/networks/sterra.png?<%= random %>"/>
    <img src="/imgs/networks/rail.png?<%= random %>"/>
    <img src="/imgs/networks/ad_sense.png?<%= random %>"/>
    <img src="/imgs/networks/dfp.png?<%= random %>"/>
    <img src="/imgs/networks/roll.png?<%= random %>"/>
    <img src="/imgs/networks/carbon.png?<%= random %>"/>
    <img src="/imgs/networks/buff.png?<%= random %>"/>
  </div>
</div>
<div class="features">
  <div class="section">
    <div class="container">
      <div class="information left">
        <h3>Simple setup, beautiful ads!</h3>
        <ul>
          <li>
            <strong>Install in minutes. Copy and paste!</strong>
            <div>
              No need to rewrite your entire advertising code base.
              Just paste in our script and deploy.
            </div>
          </li>
          <li>
            <strong>Realtime Analytics.</strong>
            <div>
              View at-a-glance how <%= company %> is helping your
              company. Ad events are streamed right to the dashboard.
            </div>
          </li>
          <li>
            <strong>Let us fight the good fight for you.</strong>
            <div>
              Ensuring your ads are delivered is a tick tac toe game
              with Ad Blockers. You need a team and 
              technology that will be there to out think their moves. 
              We will fight those battles so you can focus on 
              what matters most. 
            </div>
          </li>
        </ul>
      </div>
      <div class="display ad-events right">
        <div class="event">
          <img src="/imgs/browsers/chrome.png?<%= random %>" class="browser"/>
          <div class="text">
            <div class="name">Impression on <span>Subtle Patterns</span></div>
            <div class="extras">Mountain View, US&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Mac OSX</div>
          </div>
        </div>
        <div class="event">
          <img src="/imgs/browsers/firefox.png?<%= random %>" class="browser"/>
          <div class="text">
            <div class="name">Click on <span>Bob's Designs</span></div>
            <div class="extras">Santiago, Chile&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Windows 9</div>
          </div>
        </div>
        <div class="event">
          <img src="/imgs/browsers/safari.png?<%= random %>" class="browser"/>
          <div class="text">
            <div class="name">Impression on <span>WoW Gamers</span></div>
            <div class="extras">Alexandria, Egypt&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Windows 8</div>
          </div>
        </div>
        <div class="event">
          <img src="/imgs/browsers/chrome.png?<%= random %>" class="browser"/>
          <div class="text">
            <div class="name">Impression on <span>Travelers Guide SF</span></div>
            <div class="extras">Istanbul, Turkey&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;iOS 10</div>
          </div>
        </div>
        <div class="event">
          <img src="/imgs/browsers/firefox.png?<%= random %>" class="browser"/>
          <div class="text">
            <div class="name">Click on <span>Simple Designs</span></div>
            <div class="extras">Los Angeles, US&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Windows 9</div>
          </div>
        </div>
        <div class="event">
          <img src="/imgs/browsers/chrome.png" class="browser"/>
          <div class="text">
            <div class="name">Impression on <span>Exploring Texas</span></div>
            <div class="extras">Texas, US&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Android</div>
          </div>
        </div>
        <div class="event">
          <img src="/imgs/browsers/safari.png" class="browser"/>
          <div class="text">
            <div class="name">Impression on <span>Track Star Tips</span></div>
            <div class="extras">London, UK&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Mac OSX</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
