<div id="product" class="supports">
  <h2>
    <%= company %> works seamlessly with the
    networks you already use!<br>
    <span>no additional infrastructure needed</span>
  </h2>
  <div class="images">
    <img src="/imgs/networks/sterra.png?<%= random %>"/>
    <img src="/imgs/networks/rail.png?<%= random %>"/>
    <img src="/imgs/networks/ad_sense.png?<%= random %>"/>
    <img src="/imgs/networks/dfp.png?<%= random %>"/>
    <img src="/imgs/networks/roll.png?<%= random %>"/>
    <img src="/imgs/networks/buff.png?<%= random %>"/>
  </div>
</div>
<div class="product">
  <div class="container">
    <div class="ifelse">
      if <span class="red">AD BLOCKER</span>
      activate <span class="blue"><%= company %></span>:
    </div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="green">Stylishly Unobtrusive Ads</h3>
      <p>
        Ads from the <%= company %> Network catch a user's eye without
        ruining their experience on your site. We strive to create
        win-win solutions for you and your visitors.
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/stylish.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information left">
      <h3 class="blue">Intelligent Ad Detection</h3>
      <p>
        Our system will automatically detect ads
        from your existing ad networks. When an ad blocker is active,
        <%= company %> will replace those blocked ads with ones from our
        protected network.
      </p>
    </div>
    <div class="graphic right" style="background-image: url('/imgs/products/detection.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="purple">Premium Demand Partners</h3>
      <p>
        Your ad blocked visitors are emerging as a premium audience resulting 
        in strong CPMs. Our demand partners are excited about connecting with
        people previously unreachable. For more about payouts, visit
        our <a href="/monetize">monetization page</a>.
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/demand.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information ad-events right">
      <h3 class="red">Realtime Analytics</h3>
      <p>
        View at a glance how <%= company %> is helping your company. 
        Impression and click events are streamed in realtime right to your dashboard.
      </p>
      <p>
        Most ad blockers not only block ads but also analytics tools like Google Analytics or Mixpanel.
        Our analytics are not affected by ad blockers, which gives us a clearer understanding of your visitors.  
      </p>
    </div>
    <div class="graphic left ad-events">
      <div class="event">
        <img src="/imgs/browsers/chrome.png?<%= random %>" class="browser"/>
        <div class="text">
          <div class="name">Impression on <span>Start Bootstrap</span></div>
          <div class="extras">Mountain View, US&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Mac OSX</div>
        </div>
      </div>
      <div class="event">
        <img src="/imgs/browsers/firefox.png?<%= random %>" class="browser"/>
        <div class="text">
          <div class="name">Click on <span>Start Bootstrap</span></div>
          <div class="extras">Santiago, Chile&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Windows 9</div>
        </div>
      </div>
      <div class="event">
        <img src="/imgs/browsers/safari.png?<%= random %>" class="browser"/>
        <div class="text">
          <div class="name">Impression on <span>Start Bootstrap</span></div>
          <div class="extras">Istanbul, Turkey&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;iOS 10</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information left">
      <h3 class="orange">Install in Minutes</h3>
      <p>
        No need to rewrite your entire advertising code base. 
        When you create an account we will generate a custom
        script that works specifically for your site. All you
        will need to do is paste the script and deploy!
      </p>
    </div>
    <div class="graphic right" style="background-image: url('/imgs/products/install.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
</div>