<a class="dashboard-back fa fa-arrow-left" href="/demand/<%= advertiser.key %>/campaigns"></a>

<div class="display full">
  <table class="top-bar"> 
    <tr>   
      <td class="section">
        <div class="decription">Name</div>
        <div class="title"><%= campaign.name %></div>
      </td>
      <td class="section">
        <div class="decription">Status</div>
        <div class="title cap"><%= campaign.status %></div>
      </td>
      <td class="section">
        <div class="decription">Progress</div>
        <div class="title cap"><%= campaign.metrics.progress %></div>
      </td>
      <td class="section">
        <div class="decription">Budget</div>
        <div class="title blue"><%= campaign.metrics.budget %></div>
      </td>
      <td class="section">
        <div class="decription">Spend</div>
        <div class="title green"><%= campaign.metrics.spend %></div>
      </td>
      <td class="section">
        <div class="actions campaign right" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>">
          <% if(campaign.status != "completed") { %>
            <% if(campaign.status == "running") { %>
              <div class="action" data-action="paused">
                <span class="fa fa-pause"></span>
                <span class="fa fa-spin fa-refresh" style="display:none"></span>
                Pause
              </div>
            <% } else { %>
               <div class="action" data-action="running">
                <span class="fa fa-play"></span>
                <span class="fa fa-spin fa-refresh" style="display:none"></span>
                Run
              </div>
            <% } %>
          <% } %>
          <div class="action" data-action="delete" data-confirm="Please confirm you want to delete!">
            <span class="fa fa-trash"></span>
            <span class="fa fa-spin fa-refresh" style="display:none"></span>
            Delete
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="display split core-information left padded">
  <table class="top-bar"> 
    <tr> 
      <td class="section">
        <div class="decription">Impressions</div>
        <div class="title"><%= campaign.metrics.impressions %></div>
      </td>
      <td class="section">
        <div class="decription">Clicks</div>
        <div class="title cap"><%= campaign.metrics.clicks %></div>
      </td>
      <td class="section">
        <div class="decription">CTR</div>
        <div class="title cap"><%= campaign.metrics.ctr %></div>
      </td>
      <td class="section">
        <div class="decription">Start Date</div>
        <div class="title"><%= moment(campaign.start_at).format("MMM DD") %></div>
      </td>
      <td class="section">
        <div class="decription">End Date</div>
        <div class="title"><%= campaign.end_at ? moment(campaign.end_at).format("MMM DD") : "NONE" %></div>
      </td>
    </tr>
  </table>
  <br><br>
  <div class="metric full main">
    <div class="chart-wrapper">
      <div class="chart impressions"></div>
    </div>
  </div>
</div>

<div class="display split simulator-container right">
  <div class="top-bar">
    <div class="section split half left">
      <div class="decription">Creative</div>
      <div class="title"><%= campaign.creatives[0].format %> </div>
    </div>
    <div class="section split half right">
      <div class="decription">Format</div>
      <div class="title">Image <%= campaign.creatives[0].description ? " + Text" : "" %></div>
    </div>
    <div class="clear"></div>
  </div>
  <br>
  <div class="simulator active">
    <a target="_blank" href="<%= campaign.creatives[0].link %>">
      <img src="data:image;base64,<%= campaign.creatives[0].image.toString('base64') %>"/>
      <% if(campaign.creatives[0].description) { %>
        <div><%- campaign.creatives[0].description_html %></div>
      <% } %>
    </a>
  </div>
  <br>
</div>

<div class="display full table">
  <div class="table-header">
    <div class="actions left <%= campaign.status != "running" ? "disabled" : "" %>" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/industries">
      <div class="action" data-action="running">
        <span class="fa fa-play"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Run
      </div>
      <div class="action" data-action="paused">
        <span class="fa fa-pause"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Pause
      </div>
    </div>
    <div class="search-box right">
      <div class="fa fa-search"></div>
      <input type="text" class="white" placeholder="Search...."/>
    </div>
  </div>
  <div class="table-body">
    <table class="hidden" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/industries" data-columns="<%= JSON.stringify([
      { "data": "id" },
      { "data": "name" },
      { "data": "status" },
      { "data": "metrics.progress" },
      { "data": "metrics.impressions" },
      { "data": "metrics.clicks" },
      { "data": "metrics.ctr" },
      { "data": "metrics.cpm" },
      { "data": "metrics.budget" },
      { "data": "metrics.spend" }
    ]) %>">
      <thead>
        <tr>
          <th></th>
          <th>Industry</th>
          <th>Status</th>
          <th>Progress</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>CTR</th>
          <th>CPM</th>
          <th>Budget</th>
          <th>Spend</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<% if(user.is_admin) { %>
  <div class="display full table">
    <div class="warning-banner">Admin Only</div>
    <div class="table-header">
      <div class="actions left" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/publishers">
        <div class="action" data-action="enable">
          <span class="fa fa-circle"></span>
          <span class="fa fa-spin fa-refresh" style="display:none"></span>
          Enable
        </div>
        <div class="action" data-action="block">
          <span class="fa fa-ban"></span>
          <span class="fa fa-spin fa-refresh" style="display:none"></span>
          Block
        </div>
      </div>
      <div class="search-box right">
        <div class="fa fa-search"></div>
        <input type="text" class="white" placeholder="Search...."/>
      </div>
    </div>
    <div class="table-body">
      <table class="hidden" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/publishers" data-columns="<%= JSON.stringify([
        { "data": "id" },
        { "data": "name" },
        { "data": "industry" },
        { "data": "status" },
        { "data": "metrics.impressions" },
        { "data": "metrics.clicks" },
        { "data": "metrics.ctr" }
      ]) %>">
        <thead>
          <tr>
            <th></th>
            <th>Publisher</th>
            <th>Industry</th>
            <th>Status</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>CTR</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
<% } %>