<a class="dashboard-back fa fa-arrow-left" href="/demand/<%= advertiser.key %>/campaigns"></a>

<div class="display full">
  <table class="top-bar"> 
    <tr>   
      <td class="section">
        <div class="decription">
          Name
          <% if(campaign.config.is_house == true) { %>
            <span class="bubble">HOUSE</span>
          <% } %>
        </div>
        <div class="title"><%= campaign.name %></div>
      </td>
      <td class="section">
        <div class="decription">Pricing</div>
        <div class="title uppercase"><%= campaign.type %></div>
      </td>
      <td class="section">
        <div class="decription">Status</div>
        <div class="title cap"><%= campaign.status %></div>
      </td>
      <td class="section">
        <div class="decription">Bid</div>
        <div class="title orange"><%= campaign.metrics.amount %></div>
      </td>
      <td class="section">
        <div class="decription">Budget</div>
        <div class="title blue"><%= campaign.metrics.budget %></div>
      </td>
      <td class="section">
        <div class="decription">Spend</div>
        <div class="title green"><%= campaign.metrics.spend %></div>
      </td>
      <td class="section" style="min-width:245px;">
        <div class="actions campaign right" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>">
          <% if(campaign.status != "completed") { %>
            <% if(campaign.status == "running") { %>
              <div class="action" data-action="paused">
                <span class="fa fa-pause"></span>
                <span class="fa fa-spin fa-refresh" style="display:none"></span>
                Pause
              </div>
            <% } else { %>
               <div class="action" data-action="running">
                <span class="fa fa-play"></span>
                <span class="fa fa-spin fa-refresh" style="display:none"></span>
                Run
              </div>
            <% } %>
          <% } %>
          <div class="action" data-action="delete" data-confirm="Please confirm you want to delete!">
            <span class="fa fa-trash"></span>
            <span class="fa fa-spin fa-refresh" style="display:none"></span>
            Delete
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="display full">
  <table class="top-bar"> 
    <tr> 
      <td class="section">
        <div class="decription">Progress</div>
        <div class="title cap"><%= campaign.metrics.progress %></div>
      </td>
      <td class="section">
        <div class="decription">Impressions</div>
        <div class="title"><%= campaign.metrics.impressions %></div>
      </td>
      <td class="section">
        <div class="decription">Clicks</div>
        <div class="title cap"><%= campaign.metrics.clicks %></div>
      </td>
      <td class="section">
        <div class="decription">CTR</div>
        <div class="title cap"><%= campaign.metrics.ctr %></div>
      </td>
      <td class="section">
        <div class="decription">Start Date</div>
        <div class="title"><%= moment(campaign.start_at).format("MMM DD") %></div>
      </td>
      <td class="section">
        <div class="decription">End Date</div>
        <div class="title"><%= campaign.end_at ? moment(campaign.end_at).format("MMM DD") : "NONE" %></div>
      </td>
    </tr>
  </table>
  <br><br>
  <div class="metric full main">
    <div class="chart-wrapper">
      <div class="chart impressions"></div>
    </div>
  </div>
</div>

<div class="display full table">
  <div class="table-header">
    <div class="actions left <%= campaign.status != "running" ? "disabled" : "" %>" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/industries">
      <div class="action" data-action="running">
        <span class="fa fa-play"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Run
      </div>
      <div class="action" data-action="paused">
        <span class="fa fa-pause"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Pause
      </div>
    </div>
    <div class="search-box right">
      <div class="fa fa-search"></div>
      <input type="text" class="white" placeholder="Search...."/>
    </div>
  </div>
  <div class="table-body">
    <table class="hidden" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/industries" data-columns="<%= JSON.stringify([
      { "data": "id" },
      { "data": "name" },
      { "data": "status" },
      { "data": "metrics.impressions" },
      { "data": "metrics.clicks" },
      { "data": "metrics.ctr" },
      { "data": "metrics.amount" },
      { "data": "metrics.spend" }
    ]) %>">
      <thead>
        <tr>
          <th></th>
          <th>Industry</th>
          <th>Status</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>CTR</th>
          <th><%= campaign.type.toUpperCase() %></th>
          <th>Spend</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div class="display full creative-container">
  <table class="top-bar creative-info left"> 
    <tr> 
      <td class="section">
        <div class="decription">Creative</div>
        <div class="title capitalize"><%= campaign.creatives[0].format %></div>
      </td>
    </tr>
    <tr>
      <td class="section">
        <div class="decription">Format</div>
        <div class="title capitalize">Image <%= campaign.creatives[0].description ? " + Text" : "" %></div>
      </td>
    </tr>
    <tr>
      <td class="section">
        <div class="decription">Trackers</div>
        <div class="title"><%= campaign.creatives[0].trackers.filter(function(str) {
          return str.length > 0
        }).length %></div>
      </td>
    </tr>
    <tr>
      <td class="section">
        <div class="decription">Click URL</div>
        <a class="title" target="_blank" href="<%= campaign.creatives[0].link %>"><%= campaign.creatives[0].link.slice(0,42) %>...</a>
      </td>
    </tr>
  </table>
  <div class="simulator-container right">
    <div><iframe class="simulator-iframe right" data-src="<%= campaign.creatives[0].demo_frame() %>"></iframe></div>
  </div>
</div>

<% if(user.is_admin) { %>
  <div class="display full table">
    <div class="table-header admin">
      <div class="warning-banner">Admin Only</div>
      <div class="actions left" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/publishers">
        <div class="action" data-action="enable">
          <span class="fa fa-circle"></span>
          <span class="fa fa-spin fa-refresh" style="display:none"></span>
          Enable
        </div>
        <div class="action" data-action="block">
          <span class="fa fa-ban"></span>
          <span class="fa fa-spin fa-refresh" style="display:none"></span>
          Block
        </div>
      </div>
      <div class="search-box right">
        <div class="fa fa-search"></div>
        <input type="text" class="white" placeholder="Search...."/>
      </div>
    </div>
    <div class="table-body">
      <table class="hidden" data-url="/demand/<%= advertiser.key %>/campaign/<%= campaign.id %>/publishers" data-columns="<%= JSON.stringify([
        { "data": "id" },
        { "data": "name" },
        { "data": "industry" },
        { "data": "status" },
        { "data": "metrics.impressions" },
        { "data": "metrics.clicks" },
        { "data": "metrics.ctr" }
      ]) %>">
        <thead>
          <tr>
            <th></th>
            <th>Publisher</th>
            <th>Industry</th>
            <th>Status</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>CTR</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
<% } %>