<html>
  <head>
    <style>
      html, body {
        background: white;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      
      img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
      
      a {
        width: 100%;
        color: black;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a div {
        font-family: "Arial";
        padding: 5px;
        box-sizing: border-box;
        font-size: 14px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: white;
        max-height: 58px;
        line-height: 17px;
      }
      
      a:hover div {
        text-decoration: underline;
      }
    </style>
    <script>
      window["<%= publisher.key %>"] = { 
        frame: "<%= frame %>",
        creative: "<%= creative.id %>",
        advertiser: "<%= creative.advertiser_id %>",
        campaign: "<%= creative.campaign_id %>",
        industry: "<%= creative.industry_id %>"
      };      
      
      window.parent.window.postMessage({
        name: "frame.show",
        frame: "<%= frame %>",
        width: 300,
        height: 250
      }, "*");
      
      <%- miza_script %>
    </script>
  </head>
  <body>
      <a target="_blank" href="<%= creative.attributed_link(creative.industry_id, is_protected) %>">
        <img src="data:image;base64,<%= creative.image.toString('base64') %>"/>
        <% if(!!creative.description) { %>
          <div><%= creative.description %></div>
        <% } %>
      </a>
    <% creative.trackers.forEach(function(tracker) { %>
      <img src="/<%= new Buffer(tracker).toString("base64") %>" width="0" height="0" style="display:none" />
    <% }) %>
  </body>
</html>