<html>
  <head>
    <style>
      html, body {
        background: white;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      
      img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
      
      a {
        width: 100%;
        color: black;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a div {
        margin-top: 10px;
        font-family: "Arial";
        padding: 5px;
        box-sizing: border-box;
      }
    </style>
    <script>
      window["<%= publisher.key %>"] = { in_frame: true };      
      <%- miza_script %>
      window.parent.window.postMessage({
        name: "frame.show",
        frame: "<%= frame %>",
        width: <%= payload.width + (!!payload.text ? 25 : 0) %>,
        height: <%= payload.height + (!!payload.text ? 100 : 0) %>
      }, "*")
    </script>
  </head>
  <body>
    <% if(!!payload.target) { %>
      <a target="_blank" href="/<%= new Buffer(payload.target).toString("base64") %>?link">
        <img src="<%= payload.link %>"/>
      </a>
      <a target="_blank" href="/<%= new Buffer(payload.target).toString("base64") %>?link">
        <% if(!!payload.text) { %>
          <div><%= payload.text %></div>
        <% } %>
      </a>
    <% } else { %> 
      <img src="<%= payload.link %>"/>
      <% if(!!payload.text) { %>
        <div><%= payload.text %></div>
      <% } %>
    <% } %>
    <% payload.beacons.forEach(function(beacon) { %>
      <img src="/<%= new Buffer(beacon).toString("base64") %>" width="0" height="0" style="display:none" />
    <% }) %>
  </body>
</html>