<html>
  <head>
    <style>
      html, body {
        background: white;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      
      img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
      
      a {
        width: 100%;
        color: black;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a div {
        font-family: "Arial";
        padding: 5px;
        box-sizing: border-box;
        font-size: 14px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: white;
        max-height: 60px;
      }
      
      a:hover div {
        text-decoration: underline;
      }
    </style>
    <script>
      window["<%= publisher.key %>"] = { in_frame: true };      
      
      window.parent.window.postMessage({
        name: "frame.show",
        frame: "<%= frame %>",
        width: <%= payload.width - 10 %>,
        height: <%= payload.height + (!!payload.text ? 40 : 0) %>
      }, "*")
      
      <% if(publisher.config.refresh.enabled) { %>
        window.setTimeout(function() {
          window.location.reload()
        }, <%- publisher.config.refresh.interval * 1000 %>);
      <% } %>
      
      <%- miza_script %>
    </script>
  </head>
  <body>
    <% if(!!payload.target) { %>
      <a target="_blank" href="/<%= new Buffer(payload.target).toString("base64") %>?link">
        <img src="<%= payload.link %>"/>
      </a>
      <a target="_blank" href="/<%= new Buffer(payload.target).toString("base64") %>?link">
        <% if(!!payload.text) { %>
          <div><%= payload.text %></div>
        <% } %>
      </a>
    <% } else { %> 
      <img src="<%= payload.link %>"/>
      <% if(!!payload.text) { %>
        <div><%= payload.text %></div>
      <% } %>
    <% } %>
    <% payload.beacons.forEach(function(beacon) { %>
      <img src="/<%= new Buffer(beacon).toString("base64") %>" width="0" height="0" style="display:none" />
    <% }) %>
  </body>
</html>