<div class="product">
  <div class="container">
    <div class="ifelse">
      Get started in <span class="blue">3 easy steps</span>:
    </div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="green">1. Provide us with a website url</h3>
      <p>
        Advertising with <%= company %> is incredibly simple and fast. By providing
        us with the url you wish to advertise, we will generate an ad tailored to your 
        social network profile or commerce store.
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/url.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="blue">2. Set your budget</h3>
      <p>
        Setting a budget tells <%= company %> how much you are willing to 
        spend on the campaign. In the settings you can also set the pricing 
        model (impressions or clicks) and start/end dates.
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/budget.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="orange">3. Campaign Goes Live</h3>
      <p>
        Once you have marked the campaign ready to go live, one our members 
        from the advertising success team will ensure it meets our guidelines.
      </p>
      <p>
        Every now and then they may see pro-tips on how to increase your ads performance
        from our team!
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/live.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
</div>
<div id="product" class="supports top-bar">
  <h2>
    <%= company %> works seamlessly with the
    social networks<br>and commerce stores you use!
  </h2>
  <div class="images">
    <a href="/demand/social">
      <img src="/imgs/demand/i.png?<%= random %>"/>
    </a>
    <a href="/demand/social">
      <img src="/imgs/demand/t.png?<%= random %>"/>
    </a>
    <a href="/demand/music">
      <img src="/imgs/demand/s.png?<%= random %>"/>
    </a>
    <a href="/demand/commerce">
      <img src="/imgs/demand/a.png?<%= random %>"/>
    </a>
    <a href="/demand/commerce">
      <img src="/imgs/demand/k.png?<%= random %>"/>
    </a>
    <a href="/demand/commerce">
      <img src="/imgs/demand/e.png?<%= random %>"/>
    </a>
  </div>
</div>
<div class="request_demo">
  <div class="left">
    <strong>Ready to get started?</strong>
    <span>Create an account or read our deck.</span> 
  </div>
  <div class="right">
    <a href="#hero">Create Account</a>
    <a class="inverse" target="_blank" href="/decks/demand">Read Deck</a>
  </div>
  <div class="clear"></div>
</div>