<div class="product">
  <div class="container">
    <div class="ifelse">
      Get started in <span class="blue">3 easy steps</span>:
    </div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="green">1. Provide us with a website url</h3>
      <p>
        Ads from the <%= company %> Network catch a user's eye without
        ruining their experience on your site. We strive to create
        win-win solutions for you and your visitors. All of our ads are inline with
        <a target="_blank" href="https://adblockplus.org/acceptable-ads">ABP's Acceptable Ads Manifesto</a>.
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/url.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="blue">2. Set your budget</h3>
      <p>
        Our system will automatically detect ads
        from your existing ad networks. When an ad blocker is active,
        <%= company %> will replace those blocked ads with ones from our
        protected network.
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/budget.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <div class="information right">
      <h3 class="orange">3. Campaign Goes Live</h3>
      <p>
        No need to rewrite your entire advertising code base. 
        When you create an account we will generate a custom
        script that works specifically for your site. All you
        will need to do is paste the script and deploy!
      </p>
    </div>
    <div class="graphic left" style="background-image: url('/imgs/products/live.jpg?<%= random %>')"></div>
    <div class="clear"></div>
  </div>
</div>
<div id="product" class="supports top-bar">
  <h2>
    <%= company %> works seamlessly with the
    social networks<br>and commerce stores you use!
  </h2>
  <div class="images">
    <a href="/demand/social">
      <img src="/imgs/demand/i.png?<%= random %>"/>
    </a>
    <a href="/demand/social">
      <img src="/imgs/demand/t.png?<%= random %>"/>
    </a>
    <a href="/demand/music">
      <img src="/imgs/demand/s.png?<%= random %>"/>
    </a>
    <a href="/demand/commerce">
      <img src="/imgs/demand/a.png?<%= random %>"/>
    </a>
    <a href="/demand/commerce">
      <img src="/imgs/demand/k.png?<%= random %>"/>
    </a>
    <a href="/demand/commerce">
      <img src="/imgs/demand/e.png?<%= random %>"/>
    </a>
  </div>
</div>
<div class="request_demo">
  <div class="left">
    <strong>Ready to get started?</strong>
    <span>Create an account or read our deck.</span> 
  </div>
  <div class="right">
    <a href="#hero">Create Account</a>
    <a class="inverse" target="_blank" href="/decks/demand">Read Deck</a>
  </div>
  <div class="clear"></div>
</div>