<p>
Welcome to Miza!
</p>
<p>     
Miza helps publishers recover ad revenue from ad blockers. <%= data.user.name %>
has invited you to the <%= data.publisher.name %> account.
</p>
<p>
You can register with this link: <a href="http://<%= host %>/register?email=<%= to %>">http://<%= host %>/register?email=<%= to %></a>
</p>
<p> 
-- Miza Support
</p>