<% include ../../includes/start %>
<% include ../../includes/header %>
<% if(!payout.is_transferred) { %>
  <div class="payouts-confirm">
    <a class="back fa fa-close" href="/admin/payouts/<%= payout.id %>"></a>
    <div class="container payouts">
      <div class="title">Please Confirm Transfers</div>
      <div class="metrics">
        <div class="core metric">
          <div class="primary"><%= numeral(payout.transfer_amount).format("$0[,]000a") %></div>
          <div class="secondary">Payout Amount</div>
        </div>
      </div>
      <form class="form" method="POST" action="/admin/payouts/<%= payout.id %>/transfer">
        <% include ../../includes/csrf %>
        <button class="button" type="submit">Transfer Funds</button>
        <div class="error"></div>
      </form>
    </div>
  </div>
<% } %>
<a class="back fa fa-arrow-circle-left" href="/admin/payouts"></a>
<div class="payouts container">
  <div class="top-bar">
    <div class="name left"><%= payout.name %></div>
    <% if(!payout.is_transferred) { %>
      <div class="buttons right">
        <div class="button green transfer-button">Transfer</div>
        <a class="button red" href="/admin/payouts/<%= payout.id %>/delete">Delete</a>
      </div>
    <% } %>
    <div class="clear"></div>
  </div>
  <div class="block">
    <form class="form left" method="POST" action="/admin/payouts/<%= payout.id %>" disabled>
      <% include ../../includes/csrf %>
      <table>
        <tr>
          <td class="title">Fee (%)</td>
          <td><input class="only input" type="text" name="fee" value="<%= payout.fee * 100 %>" step="1" max="100"/></td>
        </tr>
        <tr>
          <td class="title">Email Note</td>
          <td><textarea class="only input textarea" type="text" name="note"/><%= payout.note %></textarea>
        </tr>
        <tr>
          <td class="title">Sources</td>
          <td>
            <table>
              <tr>
                <td><input class="only input" type="text" name="sources[0][name]" placeholder="Name"/>
                <td><input class="only input" type="number" name="sources[0][amount]" placeholder="Amount"/>
              </tr>
              <% payout.sources.forEach(function(source, i) { %>
                <tr>
                  <td><input class="only input" type="text" name="sources[<%= i + 1 %>][name]" placeholder="Name" value="<%= source.name %>"/>
                  <td><input class="only input" type="number" name="sources[<%= i + 1 %>][amount]" placeholder="Amount" value="<%= source.amount %>"/>
                </tr>
              <% }) %>
            </table>
          </td>
        </tr>
      </table>
      <% if(!payout.is_transferred) { %>
        <button class="button" type="submit">Update Payout</button>
        <div class="error"></div>
      <% } %>
    </form>
    <div class="metrics right">
      <div class="core metric">
        <div class="primary"><%= numeral(payout.revenue_amount).format("$0[,]000a") %></div>
        <div class="secondary">Miza Revenue (MR)</div>
      </div>
      <div class="secondaries">
        <div class="row">
          <div class="metric">
            <div class="primary red"><%= numeral(payout.transfer_amount).format("$0[,]000a") %></div>
            <div class="secondary">Payout Amount</div>
          </div>
          <div class="metric">
            <div class="primary purple"><%= numeral(payout.source_amount).format("$0[,]000a") %></div>
            <div class="secondary">Source Amount</div>
          </div>
          <div class="metric">
            <div class="primary"><%= numeral(payout.impressions).format("0[.]0a") %></div>
            <div class="secondary">Impressions)</div>
          </div>
          <div class="metric">
            <div class="primary"><%= numeral(payout.clicks).format("0[.]0a") %></div>
            <div class="secondary">Clicks</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="block form-table">
    <table>
      <thead>
        <tr>
          <th>Publisher</th>
          <th>Domain</th>
          <th>Owner</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>Miza Revenue</th>
          <th>Payout</th>
        </tr>
      </thead>
      <tbody>
        <% if(payout.is_transferred) { %>
          <% transfers.forEach(function(transfer) { 
            segment = (transfer.impressions / payout.impressions) || 0
          %>
            <tr class="publisher inactive <%= transfer.publisher.key %>">
              <td><a href="/publisher/<%= transfer.publisher.key %>/analytics"><%= transfer.publisher.full_name() %></a></td>
              <td><a target="_blank" href="http://<%= transfer.publisher.domain %>"><%= transfer.publisher.domain %></a></td>
              <td><a href="mailto:<%= transfer.user.email %>"><%= transfer.user.name %></a></td>
              <td><%= numeral(transfer.impressions).format("0[.]0a") %></td>
              <td><%= numeral(transfer.clicks).format("0[.]0a") %></td>
              <td class="green"><%= numeral(payout.revenue_amount * segment).format("$0[,]000a") %></td>
              <td class="red"><%= numeral(transfer.amount).format("$0[,]000a") %></td>
            </tr>
          <% }) %>
        <% } else { %>
          <% publishers.forEach(function(publisher) { %>
            <tr class="publisher inactive <%= publisher.key %>">
              <td><a href="/publisher/<%= publisher.key %>/analytics"><%= publisher.full_name() %></a></td>
              <td><a target="_blank" href="http://<%= publisher.domain %>"><%= publisher.domain %></a></td>
              <td><a href="mailto:<%= publisher.owner.email %>"><%= publisher.owner.name %></a></td>
              <td><%= numeral(publisher.report.impressions).format("0[.]0a") %></td>
              <td><%= numeral(publisher.report.clicks).format("0[.]0a") %></td>
              <td class="green"><%= numeral(publisher.report.revenue_amount).format("$0[,]000a") %></td>
              <td class="red"><%= numeral(publisher.report.transfer_amount).format("$0[,]000a") %></td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<% include ../../includes/end %>