<% include ../../includes/start %>
<% include ../../includes/header %>
<a class="back fa fa-arrow-circle-left" href="/admin/payouts"></a>
<div class="payouts container">
  
  <div class="top-bar">
    <div class="name left"><%= payout.name %></div>
    <div class="buttons right">
      <a class="button green" href="/admin/payouts/<%= payout.id %>/transfer">Transfer</a>
      <a class="button red" href="/admin/payouts/<%= payout.id %>/delete">Delete</a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="block">
    <form class="form left" method="POST" action="/admin/payouts/<%= payout.id %>">
      <% include ../../includes/csrf %>
      <table>
        <tr>
          <td class="title">Fee (%)</td>
          <td><input class="only input" type="text" name="fee" value="<%= payout.fee * 100 %>" step="1" max="100"/></td>
        </tr>
        <tr>
          <td class="title">Sources</td>
          <td>
            <table>
              <tr>
                <td><input class="only input" type="text" name="sources[0][name]" placeholder="Name"/>
                <td><input class="only input" type="number" name="sources[0][amount]" placeholder="Amount"/>
              </tr>
              <% payout.sources.forEach(function(source, i) { %>
                <tr>
                  <td><input class="only input" type="text" name="sources[<%= i + 1 %>][name]" placeholder="Name" value="<%= source.name %>"/>
                  <td><input class="only input" type="number" name="sources[<%= i + 1 %>][amount]" placeholder="Amount" value="<%= source.amount %>"/>
                </tr>
              <% }) %>
            </table>
          </td>
        </tr>
      </table>
      <button class="button" type="submit">Update Payout</button>
      <div class="error"></div>
    </form>
    <div class="metrics right">
      <div class="core metric">
        <div class="primary"><%= numeral(payout.revenue_amount).format("$0[,]000a") %></div>
        <div class="secondary">Miza Revenue (MR)</div>
      </div>
      <div class="secondaries">
        <div class="row">
          <div class="metric">
            <div class="primary"><%= numeral(payout.transfer_amount).format("$0[,]000a") %></div>
            <div class="secondary">Payout Amount</div>
          </div>
          <div class="metric">
            <div class="primary"><%= numeral(payout.source_amount).format("$0[,]000a") %></div>
            <div class="secondary">Source Amount</div>
          </div>
          <div class="metric">
            <div class="primary"><%= numeral(payout.impressions).format("0[.]0a") %></div>
            <div class="secondary">Impressions)</div>
          </div>
          <div class="metric">
            <div class="primary"><%= numeral(payout.clicks).format("0[.]0a") %></div>
            <div class="secondary">Clicks</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="block form-table">
    <table>
      <thead>
        <tr>
          <th>Publisher</th>
          <th>Domain</th>
          <th>Owner</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>Miza Revenue</th>
          <th>Payout</th>
        </tr>
      </thead>
      <tbody>
        <% publishers.forEach(function(publisher) { 
          segment = (publisher.report.impressions/payout.impressions) || 0
        %>
          <tr class="publisher inactive <%= publisher.key %>">
            <td><a href="/dashboard/<%= publisher.key %>/analytics"><%= publisher.full_name() %></a></td>
            <td><a target="_blank" href="http://<%= publisher.domain %>"><%= publisher.domain %></a></td>
            <td><a href="mailto:<%= publisher.owner.email %>"><%= publisher.owner.name %></a></td>
            <td><%= numeral(publisher.report.impressions).format("0[.]0a") %></td>
            <td><%= numeral(publisher.report.clicks).format("0[.]0a") %></td>
            <td class="green"><%= numeral(payout.revenue_amount * segment).format("$0[,]000a") %></td>
            <td class="red"><%= numeral(payout.transfer_amount * segment).format("$0[,]000a") %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<% include ../../includes/end %>