<% include ../../includes/start %>
<% include ../../includes/navigation %>

<div class="container payouts">
  <a class="dashboard-back fa fa-arrow-left" href="/admin/payouts"></a>
  
  <div class="display full">
    <table class="top-bar"> 
      <tr>   
        <td class="section">
          <div class="decription">Name</div>
          <div class="title"><%= payout.name %></div>
        </td>
        <td class="section">
          <div class="decription">Fee</div>
          <div class="title orange"><%= payout.metrics.fee %></div>
        </td>
        <td class="section">
          <div class="decription">Profit</div>
          <div class="title green"><%= payout.metrics.profit %></div>
        </td>
        <td class="section">
          <div class="decription">Revenue</div>
          <div class="title blue"><%= payout.metrics.revenue %></div>
        </td>
        <td class="section">
          <div class="decription">Transfer</div>
          <div class="title red"><%= payout.metrics.transfer %></div>
        </td>
        <% if(!payout.is_transferred) { %>
          <td class="section">
            <div class="actions payouts right">
              <div class="action" data-action="transfer">
                <span class="fa fa-dollar"></span>
                <span class="fa fa-spin fa-refresh" style="display:none"></span>
                Transfer
              </div>
              <div class="action" data-action="delete">
                <span class="fa fa-trash"></span>
                <span class="fa fa-spin fa-refresh" style="display:none"></span>
                Delete
              </div>
            </div>
          </td>
        <% } else { %>
          <td class="section">
            <div class="decription">Impressions</div>
            <div class="title"><%= payout.metrics.impressions %></div>
          </td>
          <td class="section">
            <div class="decription">Transferred On</div>
            <div class="title"><%= moment(payout.transferred_at).format("MMM DD, YYYY") %></div>
          </td>
        <% } %>
      </tr>
    </table>
  </div>

  <div class="display split left third">
    <form class="form left" method="POST" action="/admin/payouts/<%= payout.id %>" disabled>
      <% include ../../includes/csrf %>
      <table>
        <tr>
          <td class="title">Name</td>
          <td><input class="only input" type="text" name="name" value="<%= payout.name %>"/></td>
        </tr>
        <tr>
          <td class="title">Fee (%)</td>
          <td><input class="only input" type="number" name="fee" value="<%= payout.fee * 100 %>" step="1" max="100"/></td>
        </tr>
        <tr>
          <td class="title">Email Note</td>
          <td><textarea class="only input textarea" type="text" name="note"/><%= payout.note %></textarea>
        </tr>
      </table>
      <% if(!payout.is_transferred) { %>
        <button class="button" type="submit">Update Payout</button>
        <div class="error"></div>
      <% } %>
    </form>
  </div>
  
  <div class="display form-table split right two-thirds">
    <table>
      <thead>
        <tr>
          <th>Publisher</th>
          <th>Profit</th>
          <th>Revenue</th>
          <th>Transfer</th>
          <th>Impressions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% payout.transfers.forEach(function(transfer) { %>
          <tr>
            <td>
              <a href="/dashboard/supply/<%= transfer.publisher.key %>/analytics" target="_blank"><%= transfer.publisher.name %></a>
            </td>
            <td><%= transfer.metrics.profit %></td>
            <td><%= transfer.metrics.revenue %></td>
            <td><%= transfer.metrics.amount %></td>
            <td><%= transfer.metrics.impressions %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>



<% include ../../includes/end %>