<h2>Payouts</h2>
<table class="logs-table payouts-table">
  <thead>
    <tr>
      <th>Transfer ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th>PayPal</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% publisher.transfers.forEach(function(transfer) { %>
      <tr>
        <td><%= transfer.id %></td>
        <td>$<%= transfer.amount %></td>
        <td><%= transfer.is_transferred ? "Transferred" : "Pending" %></td>
        <td><%= transfer.paypal %></td>
        <td><%= transfer.transferred_at ? moment(transfer.transferred_at).format("MMM Do, YYYY") : "" %></td>
      </tr>
    <% }) %>
  </tbody>
</table>