<div class="display full table">
  <div class="table-navigation">
    <div class="left range-display">
      <span class="fa fa-calendar"></span>
      <span class="fa fa-spin fa-refresh" style="display:none"></span>
      <span class="text"></span>
    </div>
    <div class="button-major right">
      <span class="fa fa-plus"></span>
      New Campaign
    </div>
    <div class="clear"></div>
  </div>
  <div class="table-header">
    <div class="actions left">
      <div class="action" data-action="running">
        <span class="fa fa-play"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Run
      </div>
      <div class="action" data-action="paused">
        <span class="fa fa-pause"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Pause
      </div>
      <div class="action" data-action="completed"  data-confirm="Please confirm you want to archive!">
        <span class="fa fa-archive"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Archive
      </div>
      <div class="action" data-action="delete" data-confirm="Please confirm you want to delete!">
        <span class="fa fa-trash"></span>
        <span class="fa fa-spin fa-refresh" style="display:none"></span>
        Delete
      </div>
    </div>
    <div class="search-box right">
      <div class="fa fa-search"></div>
      <input type="text" class="white" placeholder="Search...."/>
    </div>
  </div>
  <div class="table-body">
    <table class="hidden">
      <thead>
        <tr>
          <th></th>
          <th>Campaign</th>
          <th>Model</th>
          <th>Status</th>
          <th>Progress</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>CTR</th>
          <th>Spend</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div class="modal">
  <div class="close">
    <span class="fa fa-close"></span>
  </div>
  
  <div class="display">
    <div class="title">What Are You Advertising?</div>
    <div class="list">
      <div class="header">Social Profiles</div>
      <a href="<%= path %>/create?format=instagram_profile">
        <div class="fa fa-instagram" style="color: #282828"></div>
        <div class="name">Profile</div>
        <div class="subname">Instagram</div>
      </a>
      <a href="<%= path %>/create?format=instagram_post">
        <div class="fa fa-instagram" style="color: #282828"></div>
        <div class="name">Post</div>
        <div class="subname">Instagram</div>
      </a>
      <a href="<%= path %>/create?format=twitter_account">
        <div class="fa fa-twitter blue"></div>
        <div class="name">Account</div>
        <div class="subname">Twitter</div>
      </a>
<!--
      <a href="<%= path %>/create?format=snapchat_account">
        <div class="fa fa-snapchat-ghost yellow"></div>
        <div class="name">Account</div>
        <div class="subname">Snapchat</div>
      </a>
      <a href="<%= path %>/create?format=spotify_account">
        <div class="fa fa-spotify green"></div>
        <div class="name">Profile</div>
        <div class="subname">Spotify</div>
      </a>
      <a href="<%= path %>/create?format=facebook_page">
        <div class="fa fa-facebook-square" style="color: #3B5998"></div>
        <div class="name">Page</div>
        <div class="subname">Facebook</div>
      </a>
      <a href="<%= path %>/create?format=facebook_post">
        <div class="fa fa-facebook-square" style="color: #3B5998"></div>
        <div class="name">Post</div>
        <div class="subname">Facebook</div>
      </a>
      <a href="<%= path %>/create?format=soundcloud_profile">
        <div class="fa fa-soundcloud orange"></div>
        <div class="name">Profile</div>
        <div class="subname">Soundcloud</div>
      </a>
      <a href="<%= path %>/create?format=youtube_channel">
        <div class="fa fa-youtube red"></div>
        <div class="name">Channel</div>
        <div class="subname">Youtube</div>
      </a>
      <a href="<%= path %>/create?format=youtube_video">
        <div class="fa fa-youtube red"></div>
        <div class="name">Video</div>
        <div class="subname">Youtube</div>
      </a>
-->
    </div>
<!--
    <div class="list">
      <div class="header">Products & Stores</div>
      <a href="<%= path %>/create?format=amazon_product">
        <div class="fa fa-amazon" style="color: #FF9900"></div>
        <div class="name">Product</div>
        <div class="subname">Amazon</div>
      </a>
      <a href="<%= path %>/create?format=etsy_store">
        <div class="fa fa-etsy" style="color: #F26223"></div>
        <div class="name">Product</div>
        <div class="subname">Etsy</div>
      </a>
    </div>
-->
    <div class="list">
      <div class="header">Custom Templates</div>
<!--
      <a href="<%= path %>/create?format=video">
        <div class="fa fa-play-circle purple"></div>
        <div class="name">Video</div>
        <div class="subname">Custom</div>
      </a>
-->
      <a href="<%= path %>/create">
        <div class="fa fa-image purple"></div>
        <div class="name">Image</div>
        <div class="subname">Custom</div>
      </a>
    </div>
  </div>
</div>
