<div class="sidebar">
  <ul>
    <li class="active">
      <a href="<%= dashboard_path %>/settings">
        <span class="fa fa-user-circle"></span>
        Profile
      </a>
    </li>
    <% if(!user.is_demo && (user.is_admin || user.id == publisher.owner.id)) { %>
      <li>
        <a href="<%= dashboard_path %>/members">
          <span class="fa fa-users"></span>
          Members
        </a>
      </li>
    <% } %>
  </ul>
</div>
<div class="display">
  <form class="form" method="POST" action="<%= dashboard_path %>/settings">
    <% include ../../includes/csrf %>
    <table>
      <tr>
        <td class="title">Name</td>
        <td><input type="text" name="publisher_name" value="<%= publisher.name %>" placeholder="Tech Crunch" required></td>
      </tr>
      <tr>
        <td class="title">Website</td>
        <td><input type="url" name="publisher_domain" value="http://<%= publisher.domain %>" placeholder="http://techcrunch.com" required></td>
      </tr>
      <% if(user.is_admin) { %>
        <tr>
          <td class="title">
            <%= company %> Endpoint
            <span class="info fa fa-info-circle tooltip" title="Only admins can perform this action."></span>
          </td>
          <td>
            <div class="group">
              <div class="fa fa-sort"></div>
              <select class="input only" name="miza_endpoint" required>
                <option value="false" <%= !publisher.miza_endpoint ? "selected" : "" %>>No Enabled</option>
                <option value="true" <%= publisher.miza_endpoint ? "selected" : "" %>>Enabled</option>
              </select>
            </div>
          </td>
        </tr>
      <% } %>
      <tr>
        <td class="title">
          User Coverage 
          <span class="info fa fa-info-circle tooltip" title="Control the percent of your user base<br>that recieves <%=company %> services."></span>
        </td>
        <td class="slider">
          <div class="slider-range" data-min="0" data-max="100" data-value="<%= publisher.config.coverage * 100 %>"></div>
          <input class="slider-input" type="hidden" name="config_coverage" value="<%= publisher.config.coverage %>">
          <div class="slider-display value" data-rules="" data-postfix="%"></div>
        </td>
      </tr>
      <tr>
        <td class="title">
          Ad Coverage 
          <span class="info fa fa-info-circle tooltip" title="For every X ad units 1 will recieve<br><%=company %> services. The higher the number,<br>the better the user's experience is."></span>
        </td>
        <td class="slider">
          <div class="slider-range" data-min="1" data-max="5" data-value="<%= 1/publisher.config.ad_coverage %>"></div>
          <input class="slider-input" type="hidden" name="config_ad_coverage" value="<%= 1/publisher.config.ad_coverage %>">
          <div class="slider-display value" data-rules="" data-prefix="1/"></div>
        </td>
      </tr>
      <tr>
        <td class="title">
          Ad Refresh 
          <span class="info fa fa-info-circle tooltip" title="Control the interval in seconds at which your units<br>show a new ad. Setting it to 0 will disable refresh."></span>
        </td>
        <td class="slider">
          <div class="slider-range" data-min="0" data-max="600" data-value="<%= publisher.config.refresh.interval %>"></div>
          <input class="slider-input" type="hidden" name="config_refresh" value="<%= publisher.config.refresh.interval %>">
          <div class="slider-display value" data-rules="0:Disabled" data-postfix=" sec"></div>
        </td>
      </tr>
      <tr>
        <td class="title">Industry</td>
        <td><input type="text" value="<%= publisher.industry.name %>" disabled></td>
      </tr>
      <tr>
        <td class="title">Account Owner</td>
        <td><input type="text" value="<%= publisher.owner.name %>" disabled></td>
      </tr>
    </table>
    <button class="button" type="submit">Update Settings</button>
    <div class="error"></div>
  </form>
</div>