<% include ../includes/start %>
<div class="fixed-side-nav">
  <a class="inverse" href="tel:<%= support_phone_clean %>"><%= support_phone %></a>
  <a href="mailto:<%= support_email %>">Contact Us</a>
</div>
<div class="hero">
  <div class="container">
    <div class="hero-image left">
      <img src="/imgs/hero.png"/>
    </div>
    <div class="hero-information right">
      <% include ../includes/logo %>
      <h2 class="hook">
        Recapture lost ad revenue.
      </h2>
      <p class="explanation">
        Watch ads magically reappear on your website with Sledge! 
        Let us worry about Ad Blockers, so you can focus on what is important. 
      </p>
      <div class="actionable">
        <form class="form" method="POST" action="/beta">
          <% include ../includes/csrf %>
          <input name="email" type="email" placeholder="Enter your email" required/>
          <button class="button">Request Access</button>
        </form>
        <div class="login">
          <span>or</span>
          <a href="/<%= user ? "dashboard" : "login" %>">
            <button class="button"><%= user ? "Dashboard" : "Sign In" %></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="supported">
  <span class="item text">
    Sledge works great with<br>
    all the ad publishers you use!
  </span>
  <span class="item">
    <img class="item" src="/imgs/ZGZw.png"/>
  </span>
  <span class="item disabled">
    <img src="/imgs/YWRyb2xs.png"/>
    <div class="message">coming soon</div>
  </span>
  <span class="item disabled">
    <img src="/imgs/bGl2ZXJhaWw=.png"/>
    <div class="message">coming soon</div>
  </span>
  <span class="item disabled">
    <img src="/imgs/Y2FyYm9u.png"/>
    <div class="message">coming soon</div>
  </span>
</div>
<div class="sections">
  <div class="section">
    <div class="container">
      <div class="information left">
        <h3>Start making money again!</h3>
        <ul>
          <li>
            <strong>Install in seconds. Copy and paste!</strong>
            <div>
              No need to rewrite your advertising code base. Just
              paste in our script before any other ad code and 
              we will take care of the rest. 
            </div>
          </li>
          <li>
            <strong>Retain non-paying users.</strong>
            <div>
              Asking users to disable Ad Blockers only
              pushes away the users you fought so hard to have. Retain
              your non-paying users. Use them as an engine for word of mouth 
              growth while still keeping the lights on.
            </div>
          </li>
          <li>
            <strong>Let us fight the good fight for you.</strong>
            <div>
              Ensuring your ads are delivered is a tick tac toe game
              with Ad Blockers. They are constantly improving their
              blocking engine, doing everything in their power to
              cut off a source of revenue. You need a team that will be 
              there to out think their moves. We are here to fight those 
              battles so you can focus on what matters most. 
            </div>
          </li>
        </ul>
      </div>
      <div class="code right">
        <div class="sample">
          <pre><code><%= include("../samples/html") %></code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../includes/end %>