<% include ../includes/start %>
<% include ../includes/header %>
<div class="container migrate">
  <div class="header logo">Welcome to <span><%= company %> Network</span></div>
  <div class="subheader">
    <%= company %> Network is an a full end-to-end ad network that serves
    stylishly unobtrusive ads that generate high CPM payouts. Your ad blocked
    visitors is a premium audience that advertisers want to sell to.
  </div>
  <div class="product">
    <div class="section">
      <div class="information right">
        <h3 class="green">Stylishly Unobtrusive Ads</h3>
        <p>
          Ads from the <%= company %> Network catch a user's eye without
          ruining their experience on your site. We strive to create
          win-win solutions for you and your visitors.
        </p>
      </div>
      <div class="graphic left" style="background-image: url('/imgs/products/stylish.jpg?<%= random %>')"></div>
      <div class="clear"></div>
    </div>
    <div class="section">
      <div class="information left">
        <h3 class="blue">Intelligent Ad Detection</h3>
        <p>
          Our system will automatically detect ads
          from your existing ad networks. When an ad blocker is active,
          <%= company %> will replace those blocked ads with ones from our
          protected network.
        </p>
      </div>
      <div class="graphic right" style="background-image: url('/imgs/products/detection.jpg?<%= random %>')"></div>
      <div class="clear"></div>
    </div>
    <div class="section">
      <div class="information right">
        <h3 class="purple">Premium Demand Partners</h3>
        <p>
          Your ad blocked visitors are emerging as a premium audience resulting 
          in strong CPMs. Our demand partners are excited about connecting with
          people previously unreachable. For more about payouts, visit
          our <a href="/monetize">monetization page</a>.
        </p>
      </div>
      <div class="graphic left" style="background-image: url('/imgs/products/demand.jpg?<%= random %>')"></div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>