<h2>Settings</h2>
<form class="form" method="POST" action="<%= dashboard_path %>/settings">
  <% include ../../includes/csrf %>
  <table>
    <tr>
      <td class="title">Name</td>
      <td><input type="text" name="publisher_name" value="<%= publisher.name %>" placeholder="Tech Crunch" required></td>
    </tr>
    <tr>
      <td class="title">Website</td>
      <td><input type="url" name="publisher_domain" value="http://<%= publisher.domain %>" placeholder="http://techcrunch.com" required></td>
    </tr>
    <tr>
      <td class="title">Coverage</td>
      <td class="slider">
        <div class="slider-range" data-min="0" data-max="100" data-value="<%= publisher.coverage_ratio * 100 %>"></div>
        <input class="slider-input" type="hidden" name="coverage" value="<%= publisher.coverage_ratio %>">
        <div class="slider-display"></div>
      </td>
    </tr>
    <tr>
      <td class="title">Industry</td>
      <td><input type="text" value="<%= publisher.industry.name %>" disabled></td>
    </tr>
    <tr>
      <td class="title">Primary Owner</td>
      <td><input type="text" value="<%= publisher.owner.name %>" disabled></td>
    </tr>
  </table>
  <button class="button" type="submit">Update Settings</button>
  <div class="error"></div>
</form>