<% height = 370 %>
<html>
  <head>
    <style>
      html, body {
        background: transparent;
        padding: 0;
        margin: 0;
        overflow: hidden;
        font-family: "Arial";
      }
      
      .container {
        width: 100%;
        height: <%- height - 25 %>px;
        color: black;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        border: solid 1px #E6E6E6;
        overflow: hidden;
        box-sizing: border-box;
      }
      
      .grid {
        width: 100%;
        height: <%- height - 76 %>px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: nowrap;
        background: #E6E6E6;
      }
      
      .grid .image {
        width: 100%;
        height: 300px;
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1px;
      }
      
      .grid .image:first-child {
        margin: 0;
      }
      
      .bottom {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
      }
      
      .bottom .picture {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: black;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        float: left;
        border: solid 1px #E6E6E6;
        margin-top: -3px;
      }
      
      .bottom .profile {
        float: left;
        color: #666666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 600;
        margin: 6px 0 0 12px;
        cursor: pointer;
        font-size: 16px;
        width: 155px;
      }
      
      .bottom .follow {
        color: #3897F0;
        border: solid 1px #3897F0;
        font-weight: 600;
        float: right;
        padding: 5px 8px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 15px;
      }
      
      .bottom .follow:hover {
        background: #3897F0;
        color: white;
      }
      
      footer {
        color: black;
        float: right;
        font-size: 11px;
        margin-top: 8px;
        color: #555555;
        cursor: pointer;
      }
      
      footer:hover {
        text-decoration: underline;
      }
      
      .clear {
        float: none;
        clear: both;
      }
      
      information {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 25px;
        background: white;
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 1px rgba(0,0,0,0.1);
        border-radius: 4px;
        display: none;
        background: #fbfbfb;
        color: #6a6a6a;
      }
      
      information a {
        width: 150px;
        margin: 10px auto 0;
        border: solid 1px rgba(0,0,0,0.05);
        text-align: center;
        padding: 10px 0;
        display: block;
        background: rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.6);
        text-decoration: none;
        border-radius: 3px;
      }
      
      information table {
        background: transparent;
      }
      
      information a:hover {
        text-decoration: none;
        background: #FF0000;
        color: white;
      }
      
      information div {
        text-align: center;
        width: 100%;
        color: #6a6a6a;
        font-size: 12px;
        margin-top: 5px;
        cursor: pointer;
      }
      
      information div:hover {
        text-decoration: underline;
      }
    </style>
    <script>
      window["<%= publisher.key %>"] = { 
        frame: "<%= frame %>",
        creative: "<%= creative.id || "" %>",
        advertiser: "<%= creative.advertiser_id || "" %>",
        campaign: "<%= creative.campaign_id || "" %>",
        industry: "<%= creative.industry_id || "" %>"
      };      
      
      window.parent.window.postMessage({
        name: "frame.show",
        frame: "<%= frame %>",
        width: <%- width %>,
        height: <%- height %>
      }, "*");
      
      function showInformation() {
        document.getElementsByTagName("information")[0].style.display = "block";
      }
      
      function hideInformation() {
        document.getElementsByTagName("information")[0].style.display = "none";
      }

      <%- miza_script %>
    </script>
  </head>
  <body>
    <information>
      <table>
        <tr>
          <td>
            We love creating content that makes users 
            like you happy every day. Without advertising
            we would be forced to make you pay for the 
            content we provide for free. 
            <br><br>
            But don't worry, our ads are relevant, 
            stylish and unobtrusive. Hopefully you even find
            some of them helpful! But if you would like to opt 
            out of seeing our ads, you can deactivate them here.
            <br><br><br>
            <a href="/oo?demo=<%= demo %>">Stop Seeing Ads</a>
            <div onclick="hideInformation()">Close Information</div>
          </td> 
        </tr>
      </table>
    </information>
    <div class="container">
      <div class="grid">
        <div class="image" style='background-image: url("https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/1538350_1528374764070564_1190643161_n.jpg");'></div>
        <div class="image" style='background-image: url("https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/s1080x1080/e15/fr/16908677_248774508864763_5590590261542518784_n.jpg");'></div>
        <div class="image" style='background-image: url("https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/16788858_1857582131130592_2921286748711419904_n.jpg");'></div>
        <div class="image" style='background-image: url("https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/14719051_1891085144445970_5969700852892434432_n.jpg");'></div>
      </div>
      <div class="bottom">
        <a target="_blank" href="/">
          <div class="picture" style='background-image: url("https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-19/s320x320/13651958_1742962575941736_1340493441_a.jpg")'></div>
          <div class="profile">filterdabrian</div>
          <div class="follow">Follow</div>
        </a>
        <div class="clear"></div>
      </div>
    </div>
    <% creative.trackers.forEach(function(tracker) { %>
      <img src="/<%= new Buffer(tracker).toString("base64") %>?no-dl" width="0" height="0" style="display:none" />
    <% }) %>
    <footer onclick="showInformation()">
      Why am I seeing this advertisement?
    </footer>
  </body>
</html>