<div class="guide carbon active">
  <h3>3) Insert <%= company %> Initialization Script</h3>
  <p>
    Paste the script before any other ad network scripts 
    into the <span>head</span> element. The <span>CSS classes</span>
    below are mean't to be a guide on how to apply
    styling to your protected ads. <strong>Please modify the
    classes to the style that fits your website</strong>.
  </p>
  <pre><code><%= include("../../samples/miza_carbon/head") %></code></pre>
  <h3>4) You are all set!</h3>
  <p>
    Ready. Set. Go! Deploy the changes to your servers and it's off to the races. 
    We will automatically track impressions and clicks which
    can be seen in the <a href="<%= dashboard_path %>/analytics">analytics page</a>. 
    <br><br>
    If you want to control what percent of your user base receives <%= company %> protection
    you can change that with the <span>Coverage</span> setting in the 
    <a href="<%= dashboard_path %>/settings">settings page</a>.
    Please <a href="mailto:<%= support_email %>">contact us</a> at any time if problems
    arise, we will do our best to reach out as soon as possible.
  </p>
</div>