<% var guide_counter = counter %>
<div class="guide carbon active">
  <h3><%= ++guide_counter %>) Insert <%= company %> Initialization Script</h3>
  <p>
    Paste the script before any other ad network scripts 
    into the <span>head</span> element. The <span>CSS classes</span>
    below are mean't to be a guide on how to apply
    styling to your protected ads. <strong>Please modify the
    classes to the style that fits your website</strong>.
  </p>
  <div class="warning">
    Use the CSS below as a map to migrate your current 
    ad styling over to Miza protected ads.
  </div>
  <pre><code><%= include("../../samples/miza_carbon/head") %></code></pre>
  <h3><%= ++guide_counter %>) You are all set!</h3>
  <p>
    <%- include("./finished") %>
  </p>
</div>