<% var guide_counter = counter %>
<div class="guide carbon active">
  <h3><%= ++guide_counter %>) Insert <%= company %> Initialization Script</h3>
  <p>
    Paste the script before any other ad network scripts 
    into the <span>head</span> element.
  </p>
  <pre><code><%= include("../../samples/protector/miza_carbon/head") %></code></pre>
  <h3><%= ++guide_counter %>) Migrate Carbon CSS <span>(OPTIONAL)</span></h3>
  <p>
    The CSS below is your guide to maintain
    styling while <%= company %> protection is on. <strong>Please modify the
    CSS to the style that fits your website</strong>.
  </p>
  <pre><code><%= include("../../samples/protector/miza_carbon/styles") %></code></pre>
  
  <h3><%= ++guide_counter %>) You are all set!</h3>
  <p>
    <%- include("./finished") %>
  </p>
</div>