<div class="guide dfp active">
  <h3>4) Replace the Ad Network Script</h3>
  <p>
    Find the network's initialization script. It should be located in the 
    top portion of <span>head</span> element and will look
    similar to the snippet below.
  </p>
  <pre><code><%= include("../../samples/dfp/script") %></code></pre>
  <p>
    Replace the network's initialization script with the code snippet below.
  </p>
  <pre><code><%= include("../../samples/miza_dfp/script") %></code></pre>
  
  <h3>5) Replace the Ad IDs</h3>
  <p>
    Find all ad display element code that contains the text <span>div-gpt-ad</span>. 
    They should be located in the <span>body</span> element and will look
    similar to the snippet below.
  </p>
  <pre><code><%= include("../../samples/dfp/element") %></code></pre>
  <p>
    Everywhere you see the text <span>div-gpt-ad</span> replace it with 
    <span><%= publisher.key %></span>. <u>DO NOT COPY AND PASTE WORD FOR WORD.</u> The
    code below should be used as a foundation for searching for elements that
    will contain the <span>div-gpt-ad</span>. In this example the text
    <span>div-gpt-ad-1468566910229-0</span> is replaced with
    <span><%= publisher.key %>-1468566910229-0</span>.
  </p>
  <pre><code><%= include("../../samples/miza_dfp/element") %></code></pre>
  
  <h3>6) You are all set!</h3>
  <p>
    Ready. Set. Go! Deploy the changes to your servers and it's off to the races. 
    We will automatically track impressions and clicks which
    can be seen in the <a href="<%= dashboard_path %>/analytics">analytics page</a>. Please
    <a href="mailto:<%= support_email %>">contact us</a> at any time if problems
    arise, we will do our best to reach out as soon as possible.
  </p>
</div>