<div class="guide doubleclick active">
  <h3>3) Replace the Ad Publisher Script</h3>
  <p>
    Find the publisher's initialization script. It should be located in the 
    top portion of <strong>head</strong> element and will look
    similar to the snippet below.
  </p>
  <pre><code><%= include("../../samples/doubleclick_script") %></code></pre>
  <p>
    Replace the publisher's initialization script with the code snippet below.
  </p>
  <pre><code><%= include("../../samples/sledge_script") %></code></pre>
  
  <h3>4) Replace the Ad Publisher IDs</h3>
  <p>
    Find all ad display elements that have the <strong>id</strong> attribute 
    containing <strong>div-gpt-ad</strong>. 
    They should be located in the <strong>body</strong> element and will look
    similar to the snippet below.
  </p>
  <pre><code><%= include("../../samples/doubleclick_element") %></code></pre>
  <p>
    Replace the publisher's display elements with the syntax from the code snippet below.
    <u>DO NOT COPY AND PASTE</u>. The <strong>id</strong> attribute of each display element 
    should be changed from <strong>div-gpt-ad</strong> to <strong><%= publisher.key || "<SLEDGE KEY>" %></strong>.
    Then look through the inline javascript code and perform the same replace operations.
  </p>
  <pre><code><%= include("../../samples/sledge_element") %></code></pre>
  
  <h3>5) You are all set!</h3>
  <p>
    Ready. Set. Go! Deploy the changes to your servers and it's off to the races. 
    We will automatically track impressions and clicks which
    can be seen in the <a href="<%= dashboard_path %>/analytics">analytics page</a>. Please
    <a href="mailto:<%= support_email %>">contact us</a> at any time if problems
    arise, we will do our best to reach out as soon as possible.
  </p>
</div>