<% include ../includes/start %>
<%  
  function isActive(a, b) {
    return a == b ? "active" : ""
  }
%>
<div class="fixed-side-nav">
  <% if(user.is_admin) { %>
    <a href="/user/access">Grant Access</a>
  <% } else { %>
    <a class="inverse" href="tel:<%= support_phone_clean %>"><%= support_phone %></a>
  <% } %>
  <a href="/logout">Sign Out</a>
</div>
<div class="container">
  <div class="sidebar left">
    <% include ../includes/logo %>
    <ul>
      <li class="<%= isActive(dashboard, "setup") %>">
        <a href="<%= dashboard_path %>/setup">
          <span class="fa fa-bars"></span>
          Setup
        </a>
      </li>
      <li class="<%= isActive(dashboard, "analytics") %>">
        <a href="<%= dashboard_path %>/analytics">
          <span class="fa fa-pie-chart"></span>
          Analytics
        </a>
      </li>
      <li class="<%= isActive(dashboard, "settings") %>">
        <a href="<%= dashboard_path %>/settings">
          <span class="fa fa-cog"></span>
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="display right <%= dashboard %>-dashboard">
    <%- include("./" + dashboard + "/index") %>
  </div>
</div>
<% include ../includes/end %>