<% include ../includes/start %>
<% include ../includes/header %>
<%  
  function isActive(a, b) {
    return a == b ? "active" : ""
  }
%>
<% if (!publisher.is_demo || user.is_admin) { %>
  <div class="publishers_list">
    <div class="current">
      <%= publisher.name %>
      <span class="fa fa-sort"></span>
    </div>
    <div class="publishers">
      <% user.publishers.forEach(function(pub) { %>
        <% if (pub.id != publisher.id) { %>
          <a href="/dashboard/<%= pub.key %>/<%= dashboard %>"><%= pub.name %></a>
        <% } %>
      <% }) %>
      <a href="/dashboard/new">
        <span class="fa fa-plus"></span>
        New Publisher
      </a>
      <% if (user.is_admin) { %>
        <form method="GET" action="/dashboard">
          <span class="fa fa-search"></span>
          <input name="dashboard" placeholder="Publisher ID">
        </form>
      <% } %>
    </div>
  </div>
<% } %>
<div class="container">
  <% if(user.stripe_card == null && !publisher.is_demo && moment().diff(user.created_at, "days") > 15) { %>
    <div class="warning">
      Thank you for using <%= company %>! If you are happy using us, please enter in your credit information.<br>
      We will <u>NOT</u> charge you immediately, only at the end of the current billing cycle. 
      <a href="/account/card">Add credit card</a>
    </div>
  <% } %>
  <div class="sidebar left">
    <% include ../includes/logo %>
    <ul>
      <li class="<%= isActive(dashboard, "setup") %>">
        <a href="<%= dashboard_path %>/setup">
          <span class="fa fa-bars"></span>
          Setup
        </a>
      </li>
      <li class="<%= isActive(dashboard, "analytics") %>">
        <a href="<%= dashboard_path %>/analytics">
          <span class="fa fa-pie-chart"></span>
          Analytics
        </a>
      </li>
      <li class="<%= isActive(dashboard, "billing") %>">
        <a href="<%= dashboard_path %>/billing">
          <span class="fa fa-credit-card"></span>
          Billing
        </a>
      </li>
      <li class="<%= isActive(dashboard, "settings") %>">
        <a href="<%= dashboard_path %>/settings">
          <span class="fa fa-cog"></span>
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="display right <%= dashboard %>-dashboard">
    <%- include("./" + dashboard + "/index") %>
  </div>
</div>
<% include ../includes/end %>