<% include ../includes/start %>
<% include ../includes/header %>
<%  
  function isActive(a, b) {
    return a == b ? "active" : ""
  }
%>
<div class="publishers_list">
  <div class="current">
    <%= publisher.full_name() %>
    <span class="fa fa-sort"></span>
  </div>
  <div class="publishers">
    <% if(!user.is_demo) { %>
      <a href="/dashboard/new">
        <span class="fa fa-plus"></span>
        New Publisher
      </a>
    <% } %>
    <% if(user.is_admin) { %>
      <div class="group">
        <span class="fa fa-search"></span>
        <input class="publisher-search" placeholder="Name"/>
      </div>
    <% } %>
    <% (props.publishers || user.publishers).forEach(function(pub) { %>
      <% if (pub.id != publisher.id) { %>
        <a class="publisher-link" href="/dashboard/<%= pub.key %>/<%= dashboard %>">
          <%= pub.full_name() %>
        </a>
      <% } %>
    <% }) %>
  </div>
</div>
<% if(guide) { %>
  <%- include("./guide/" + publisher.product) %>
<% } %>
<div class="container">
  <% if(publisher.product == "protect") { %>
    <% include ./payment_warning %>
  <% } else if(publisher.product == "network") { %> 
    <% include ./payout_warning %>
  <%} %>
  
  <div class="sidebar left">
    <% include ../includes/logo %>
    <ul>
      <li class="<%= isActive(dashboard, "setup") %>">
        <a href="<%= dashboard_path %>/setup">
          <span class="fa fa-bars"></span>
          Setup
        </a>
      </li>
      <li class="<%= isActive(dashboard, "analytics") %>">
        <a href="<%= dashboard_path %>/analytics">
          <span class="fa fa-pie-chart"></span>
          Analytics
        </a>
      </li>
      <% if(publisher.product == "protect") {  %>
        <% 
          networks = (props.publishers || user.publishers).filter(function(pub) {
            return pub.product == "network" && pub.owner_id == publisher.owner_id
          }) 
           
          if(networks.length > 0) {
        %>
        <li class="<%= isActive(dashboard, "abtest") %>">
          <a href="<%= dashboard_path %>/abtest">
            <span class="fa fa-toggle-on"></span>
            A/B Test
          </a>
        </li>
        <% } %>
        <li class="<%= isActive(dashboard, "billing") %>">
          <a href="<%= dashboard_path %>/billing">
            <span class="fa fa-credit-card"></span>
            Billing
          </a>
        </li>
      <% } else if(publisher.product == "network") { %>
        <li class="<%= isActive(dashboard, "payouts") %>">
          <a href="<%= dashboard_path %>/payouts">
            <span class="fa fa-bank"></span>
            Payouts
          </a>
        </li>
      <% } %>
      <li class="<%= isActive(dashboard, "members") %>">
        <a href="<%= dashboard_path %>/members">
          <span class="fa fa-users"></span>
          Members
        </a>
      </li>
      <li class="<%= isActive(dashboard, "settings") %>">
        <a href="<%= dashboard_path %>/settings">
          <span class="fa fa-cog"></span>
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="display right <%= dashboard %>-dashboard">
    <%- include("./" + dashboard + "/index") %>
  </div>
</div>
<% include ../includes/end %>