<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container fullscreen">
  <form method="POST" action="<%= path %>">
    <div class="display builder split half left text-left">
      <div class="section">
        <div class="header">Advertiser Demo</div>
        <p>
          All demo links will automatically delete after 30 days. 
          Hopefully the advertiser is signed on by then!
        </p>
        <table>
          <tr>
            <td class="title">Name<span>REQUIRED</span></td>
            <td>
              <input class="full-input" type="text" name="name" placeholder="Slack Ad" required/>
            </td>
          </tr>
          <tr>
            <td class="title">Publisher URL<span>REQUIRED</span></td>
            <td>
              <input class="full-input" type="url" name="url" placeholder="Publisher url to demo" required/>
            </td>
          </tr>
        </table>
      </div>
      <div class="section">
        <div class="header">Creative</div>
        <p>
          After uploading your image, you will have the ability to crop and resize your image.
          Please note the description field is optional.
        </p>
        <div class="left split fourty">
          <table>
            <tr>
              <td>
                <input name="creative[image_url]" class="simulator-image" type="hidden" role="uploadcare-uploader"
                  data-crop="450x375 upscale" data-images-only="true" data-clearable required/>
              </td>
            </tr>
            <tr>
              <td><input class="simulator-watch simulator-link input" type="url" name="creative[link]" placeholder="Click Link" required/></td>
            </tr>
          </table>
        </div>
        <div class="right split sixity">
          <div class="simulator">
            <a target="_blank" href="#">
              <img/>
            </a>
            <strong>Previewer</strong>
          </div>
        </div>
        <div class="clear"></div>
        <br><br>
        <% include ../includes/csrf %>
        <button type="submit" class="button">
          Create Campaign <span class="fa fa-arrow-right"></span>
        </button>
      </div>
    </div>
  </form>
  <div class="display form-table split half right">
    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Demo Link</th>
        <th>Admin</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% shorteners.forEach(function(shortner) { %>
        <tr>
          <td><%= shortner.name %></td>
          <td>
            <a href="/s/<%= shortner.key %>" target="_blank"><%= hostname %>/s/<%= shortner.key %></a>
          </td>
          <td><%= shortner.owner.name %></td>
          <td><%= moment(shortner.created_at).format("MMM Do, YYYY") %></td>
        </tr>
      <% }) %>
    </tbody>
  </div>
  <div class="clear"></div>
</div>
<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url gdrive dropbox skydrive box";
  UPLOADCARE_PUBLIC_KEY = "39cde2ac83d04e6dbd0a";
  UPLOADCARE_LOCALE = 'en';
  UPLOADCARE_LOCALE_TRANSLATIONS = {
    buttons: {
      cancel: "uploading image...",
      remove: "Remove Image",
      choose: {
        images: {
          one: 'Select Image',
        }
      }
    }
  };
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
<% include ../includes/end %>