<% include ../includes/start %>
<% include ../includes/header %>
<div class="container large-2 industries">
  <form class="form" method="POST" action="/admin/industries">
    <% include ../includes/csrf %>
    <table>
      <head>
        <tr>
          <th>Industry</th>
          <th>Listing</th>
          <th>CPM ($)</th>
          <th>Fee (%)</th>
        </tr>
      </head>
      <tbody>
        <% industries.forEach(function(industry, i) { %>
          <input type="hidden" name="industries[<%= i %>][id]" value="<%= industry.id %>" required>
          <tr>
            <td><input class="only" type="text" name="industries[<%= i %>][name]" value="<%= industry.name %>" placeholder="Name" min="0" step="0.01" required></td>
            <td>
              <div class="group">
                <div class="fa fa-sort"></div>
                <select class="input only" name="industries[<%= i %>][private]" required>
                  <option value="false" <%= !industry.private ? "selected" : "" %>>Listed</option>
                  <option value="true" <%= industry.private ? "selected" : "" %>>Unlisted</option>
                </select>
              </div>
            </td>
            <td><input class="only" type="number" name="industries[<%= i %>][cpm]" value="<%= industry.cpm %>" placeholder="CPM" min="0" step="0.01" required></td>
            <td><input class="only" type="number" name="industries[<%= i %>][fee]" value="<%= industry.fee * 100 %>" placeholder="Fee" min="0" max="100" step="1" required></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <button class="button" type="submit">Update Industries</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/end %>