<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container large-3 form-table">
  <% if(campaigns.length > 0) { %>
    <form class="form" method="POST" action="/admin/pending_campaigns">
      <% include ../includes/csrf %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Created At</th>
            <th>Action</th>
            <th>Rejection Notes</th>
          </tr>
        </thead>
        <tbody>
          <% campaigns.forEach(function(campaign, i) { %>
            <input type="hidden" name="campaigns[<%= i %>][id]" value="<%= campaign.id %>" required>
            <tr valign="top">
              <td valign="top"><a target="_blank" href="/demand/<%= campaign.advertiser.key %>/campaign/<%= campaign.id %>"><%= campaign.name %></a></td>
              <td valign="top"><%= moment(campaign.created_at).format("MMM DD, YYYY") %></td>
              <td valign="top">
                <div class="group">
                  <div class="fa fa-sort"></div>
                  <select class="input only" name="campaigns[<%= i %>][approved]">
                    <option value="" selected>--------</option>
                    <option value="true">Approved</option>
                    <option value="false">Rejected</option>
                  </select>
                </div>
              </td>
              <td valign="top">
                <textarea class="textarea only" name="campaigns[<%= i %>][notes]" placeholder="Please give the user helpful feedback if their campaign is rejected."></textarea>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <button class="button" type="submit">Update Campaigns</button>
      <div class="error"></div>
    </form>
  <% } else { %>
    <strong style="padding: 50px 0; font-size: 1.5em; display: block;">No pending campaigns, good work!</strong>
  <% } %>
</div>
<% include ../includes/end %>