<% include ../includes/start %>
<% include ../includes/navigation %>
<% 
  active_publishers = publishers.filter(function(publisher) {
    return publisher.is_activated
  }).length
  
  miza_endpoints = publishers.filter(function(publisher) {
    return publisher.miza_endpoint
  }).length
  
  discounts_given = publishers.filter(function(publisher) {
    return publisher.fee < 1 && publisher.fee > 0
  }).length
  
  free_publishers = publishers.filter(function(publisher) {
    return publisher.fee == 0
  }).length
  
  paying_publishers = publishers.filter(function(publisher) {
    return !!publisher.owner.stripe_card
  }).length
%>
<div class="container xlarge form-table">
  <div class="stats">
    <span class="active" data-filter="all">
      <strong>All</strong>
      (<%= publishers.length %>)
    </span>
    <span data-filter="paying">
      <strong>Paying</strong>
      (<%= paying_publishers %>)
    </span>
    <span data-filter="activated">
      <strong>Activated</strong>
      (<%= active_publishers %>)
    </span>
    <span data-filter="not-activated">
      <strong>Not Activated</strong>
      (<%= publishers.length - active_publishers %>)
    </span>
    <span data-filter="endpoint">
      <strong>Endpoint Issued</strong>
      (<%= miza_endpoints %>)
    </span>
    <span data-filter="discount">
      <strong>Discount</strong>
      (<%= discounts_given %>)
    </span>
    <span data-filter="free">
      <strong>Free</strong>
      (<%= free_publishers %>)
    </span>
  </div>
  <form class="form" method="POST" action="/admin/publishers">
    <% include ../includes/csrf %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Activated</th>
          <th>Admin Contact</th>
          <th class="dynamic">Industry</th>
          <th class="dynamic">Endpoint Issued</th>
          <th class="dynamic number">Discount (%)</th>
        </tr>
      </thead>
      <tbody>
        <% publishers.forEach(function(publisher, i) { %>
          <input type="hidden" name="publishers[<%= i %>][id]" value="<%= publisher.id %>" required>
          <tr class="
            <%= publisher.is_activated ? "activated" : "not-activated" %>  
            <%= publisher.miza_endpoint ? "endpoint" : "" %>
            <%= (publisher.fee < 1 && publisher.fee > 0) ? "discount" : "" %>
            <%= publisher.fee == 0 ? "free" : "" %> 
            <%= !!publisher.owner.stripe_card ? "paying" : "" %>   
          ">
            <td><a href="/supply/<%= publisher.key %>/analytics"><%= publisher.name %></a></td>
            <td class="<%= publisher.is_activated ? "green" : "red" %>"><%= publisher.is_activated ? "Activated" : "Not Activated" %></td>
            <td><%= publisher.admin_contact ? publisher.admin_contact.name : "" %></td>
            <td>
              <div class="group">
                <div class="fa fa-sort"></div>
                <select class="input only" name="publishers[<%= i %>][industry]" required>
                  <% if(!publisher.industry_id) { %>
                    <option disabled value="" selected>UNKNOWN</option>
                  <% } %>
                  <% industries.forEach(function(industry) { %>
                    <% if(publisher.industry_id) { %>
                      <option value="<%= industry.id %>" <%= industry.id == publisher.industry.id ? "selected" : "" %>><%= industry.name %></option>
                    <% } else { %> 
                        <option value="<%= industry.id %>"><%= industry.name %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
            </td>
            <td>
              <div class="group">
                <div class="fa fa-sort"></div>
                <select class="input only" name="publishers[<%= i %>][miza_endpoint]" required>
                  <option value="false" <%= !publisher.miza_endpoint ? "selected" : "" %>>No</option>
                  <option value="true" <%= publisher.miza_endpoint ? "selected" : "" %>>Yes</option>
                </select>
              </div>
            </td>
            <td>
              <input class="only number" type="number" name="publishers[<%= i %>][fee]" value="<%= 100 - (publisher.fee * 100) %>" placeholder="Fee" min="0" step="1" max="100" required>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <button class="button" type="submit">Update Publishers</button>
    <div class="error"></div>
  </form>
</div>
<% include ../includes/end %>