<% include ../includes/start %>
<% include ../includes/header %>
<div class="reports">
  <div class="range-toggle">
    <div data-range="today" class="active">Today</div>
    <div data-range="week">Week</div>
    <div data-range="month">Month</div>
  </div>
  <div class="metrics">
    <div class="core metric left">
      <div class="primary owed-metric">&nbsp;</div>
      <div class="secondary">Amount Owed</div>
    </div>
    <div class="secondaries right">
      <div class="row">
        <div class="metric">
          <div class="primary revenue-metric">&nbsp;</div>
          <div class="secondary">Protected Revenue</div>
        </div>
        <div class="metric">
          <div class="primary billed-metric"><%= moment(next_month).format("MMM D") %></div>
          <div class="secondary">Billed On</div>
        </div>
      </div>
      <div class="row">
        <div class="metric">
          <div class="primary impressions-metric">&nbsp;</div>
          <div class="secondary">Protected Impressions</div>
        </div>
        <div class="metric">
          <div class="primary clicks-metric">&nbsp;</div>
          <div class="secondary">Protected Clicks</div>
        </div>
      </div>
    </div>
  </div>
  <table class="logs-table">
    <thead>
      <tr>
        <th>Publisher</th>
        <th>Domain</th>
        <th>Industry</th>
        <th>CPM</th>
        <th>Protected</th>
        <th>Fee</th>
        <th>Owed</th>
      </tr>
    </thead>
    <tbody>
      <% publishers.forEach(function(publisher) { %>
        <tr class="publisher" data-key="<%= publisher.key %>">
          <td><a target="_blank" href="/dashboard/<%= publisher.key %>/analytics"><%= publisher.name %></a></td>
          <td><a target="_blank" href="http://<%= publisher.domain %>"><%= publisher.domain %></a></td>
          <td><%= publisher.industry.name %></td>
          <td class="red"><%= numeral(publisher.industry.cpm).format("$0.00a") %></td>
          <td class="red protected"></td>
          <td class="green"><%= numeral(publisher.industry.fee).format("0[.]0%") %></td>
          <td class="green owed"></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% include ../includes/end %>