<% include ../includes/start %>
<% include ../includes/header %>
<div class="reports">
  <div class="range-display">
    <span class="fa fa-calendar"></span>
    <span class="fa fa-spin fa-refresh" style="display:none"></span>
    <span class="text"></span>
  </div>
  <div class="metrics">
    <div class="core metric left tooltip" title="Revenue generated as of today. This will include unpaid charges as well.">
      <div class="primary owed-metric">&nbsp;</div>
      <div class="secondary">Miza Revenue (MR)</div>
    </div>
    <div class="secondaries right">
      <div class="row">
        <div class="metric">
          <div class="primary protected-metric"></div>
          <div class="secondary">Miza Protection (MP)</div>
        </div>
        <div class="metric">
          <div class="primary ctr-metric">&nbsp;</div>
          <div class="secondary">Click Through Rate (CTR)</div>
        </div>
      </div>
      <div class="row">
        <div class="metric">
          <div class="primary impressions-metric">&nbsp;</div>
          <div class="secondary">Protected Impressions (PI)</div>
        </div>
        <div class="metric">
          <div class="primary clicks-metric">&nbsp;</div>
          <div class="secondary">Protected Clicks (PC)</div>
        </div>
      </div>
    </div>
  </div>
  <table class="logs-table">
    <thead>
      <tr>
        <th>Publisher</th>
        <th>Domain</th>
        <th>Owner</th>
        <th>Payout/Billing</th>
        <th>CPM</th>
        <th>PI</th>
        <th>PC</th>
        <th>MP</th>
        <th>MR</th>
      </tr>
    </thead>
    <tbody>
      <% publishers.forEach(function(publisher) { %>
        <tr class="publisher inactive <%= publisher.key %>">
          <td><a href="/publisher/<%= publisher.key %>/analytics"><%= publisher.full_name() %></a></td>
          <td><a target="_blank" href="http://<%= publisher.domain %>"><%= publisher.domain %></a></td>
          <td><a href="mailto:<%= publisher.owner.email %>"><%= publisher.owner.name %></a></td>
          <% if(publisher.product == "protect") { %>
            <td class="<%= publisher.owner.stripe_card ? "green" : "red" %>"><%= publisher.owner.stripe_card || "No Card" %></td>
          <% } else { %> 
            <td class="<%= publisher.owner.paypal ? "green" : "red" %>"><%= publisher.owner.paypal || "No PayPal" %></td>
          <% } %>
          <td class="cpm data"></td>
          <td class="impressions data">---</td>
          <td class="clicks data">---</td>
          <td class="protected data">---</td>
          <td class="owed data">---</td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% include ../includes/end %>