<% include ../includes/start %>
<% include ../includes/navigation %>
<% 
  advertisers = users.filter(function(user) {
    return user.type == "demand"
  }).length
  
  publishers = users.filter(function(user) {
    return user.type == "supply"
  }).length
  
  admins_only = users.filter(function(user) {
    return user.is_admin
  }).length
  
  users_only = users.filter(function(user) {
    return !user.is_admin
  }).length
  
  paypals = users.filter(function(user) {
    return !!user.paypal
  }).length
  
  cards = users.filter(function(user) {
    return !!user.stripe_card
  }).length
%>
<div class="container xlarge form-table users">
  <div class="stats">
    <span class="active" data-filter="all">
      <strong>All</strong>
      (<%= users.length %>)
    </span>
    <span data-filter="supply">
      <strong>Publishers</strong>
      (<%= publishers %>)
    </span>
    <span data-filter="demand">
      <strong>Advertisers</strong>
      (<%= advertisers %>)
    </span>
    <span data-filter="user">
      <strong>Users</strong>
      (<%= users_only %>)
    </span>
    <span data-filter="admin">
      <strong>Admins</strong>
      (<%= admins_only %>)
    </span>
    <span data-filter="paypal">
      <strong>PayPal</strong>
      (<%= paypals %>)
    </span>
    <span data-filter="card">
      <strong>Cards</strong>
      (<%= cards %>)
    </span>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Card</th>
        <th>PayPal</th>
        <th>Admin</th>
        <th>Joined</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user, i) { %>
        <tr class="
          <%= user.is_admin ? "admin" : "user" %>
          <%= !!user.paypal ? "paypal" : "" %>
          <%= !!user.stripe_card ? "card" : "" %>
          <%= user.type %>
        ">
          <td><a href="mailto:<%= user.email %>"><%= user.name %></a></td>
          <td class="<%= !!user.stripe_card ? "green" : "red" %>"><%= user.stripe_card || "No Card" %></td>
          <td class="<%= user.paypal ? "green" : "red" %>"><%= user.paypal || "No PayPal" %></td>
          <td><%= user.admin_contact ? user.admin_contact.name : "" %></td>
          <td style="text-transform: capitalize"><%= user.type %></td>
          <td><%= moment(user.created_at).format("MMM Do, YYYY") %></td>
          <td>
            <% if(!user.is_admin) { %>
              <a href="/admin/users/<%= user.id %>/simulate">Simulate</a>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% include ../includes/end %>