<% include ../includes/start %>
<% include ../includes/header %>
<div class="container form-table users">
    <table>
      <head>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Card Info</th>
          <th>Access</th>
          <th>Joined</th>
        </tr>
      </head>
      <tbody>
        <% users.forEach(function(user, i) { %>
          <tr class="<%= user.is_admin ? "admin" : "" %>">
            <td><%= user.name %></td>
            <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
            <td class="<%= user.stripe_card ? "green" : "red" %>"><%= user.stripe_card ? (user.stripe_card.brand + " " + user.stripe_card.last4) : "No Card" %></td>
            <td><%= user.is_admin ? "Admin" : "User" %></td>
            <td><%= moment(user.created_at).format("MMM Do, YYYY") %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </form>
</div>
<% include ../includes/end %>