<div class="display full builder">
  <form method="POST" action="<%= path %>">
    <div class="section">
      <table>
        <tr>
          <td class="title">Campaign Name<span>REQUIRED</span></td>
          <td></td>
          <td class="title">Start Date<span>OPTIONAL</span></td>
          <td><input class="top range-display" type="text" name="start_date" placeholder="MM-DD-YYYY"/></td>
        </tr>
        <tr>
          <td><input class="top name_campaign" type="text" name="name" placeholder="New Branding Initiative" required/></td>
          <td></td>
          <td class="title">End Date<span>OPTIONAL</span></td>
          <td><input class="top range-display" type="text" name="end_date" placeholder="MM-DD-YYYY"/></td>
        </tr>
      </table>
    </div>
    <div class="section">
      <div class="header">
        Industries <span>(<span class="selection-shortcut" data-for="audience">select all</span>)</span>
      </div>
      <div id="audience" class="selection" data-select="multi">
        <% industries.forEach(function(industry) { %>
          <div class="option" data-value="<%= industry.id %>">
            <div class="metric">
              $<%= industry.cpm %> <span>CPM</span>
            </div>
            <div class="name"><%= industry.name %></div>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="section">
      <div class="header">Impressions</div>
      <table class="impressions_table hidden">
        <thead>
          <tr>
            <th><span>Industry</span></th>
            <th><span>Model</span></th>
            <th class="impressions"><span>Est. Impressions</span></th>
            <th><span>Cost</span></th>
          </tr>
        </thead>
        <tbody>
          <% industries.forEach(function(industry, i) { %>
            <tr id="industry_<%= industry.id %>" class="hidden" data-cpm="<%= industry.cpm %>">
              <input type="hidden" name="industries[<%= i %>][id]" value="<%= industry.id %>" required>
              <input type="hidden" class="activated_input" name="industries[<%= i %>][activated]" value="false"/>
              <td class="title"><%= industry.name %></td>
              <td class="metric text-center">
                $<%= industry.cpm %>
                <span>CPM</span>
              </td>
              <td class="impressions">
                <div class="group">
                  <div class="fa fa-sort"></div>
                  <select class="input only" name="industries[<%= i %>][impressions]">
                    <option disabled="disabled" value="" selected>Quantity</option>
                    <% for(var i = 0; i < 2500000; i += 100000) { %>
                      <option value="<%= i + 100000  %>"><%= numeral(i + 100000).format('0,0') %></option>
                    <% } %>
                  </select>
                </div>
              </td>
              <td class="total metric text-right">$0</td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="impressions_empty">
        Please Select An Industry
      </div>
    </div>
    <div class="section">
      <% include ../../../includes/csrf %>
      <button type="submit" class="button">
        Create Campaign <span class="fa fa-arrow-right"></span>
      </button>
      <div class="error"></div>
    </div>
  </form>
</div>