<div class="display full builder">
  <form method="POST" action="<%= path %>">
    <div class="section">
      <table>
        <tr>
          <td class="title">Campaign Name<span>REQUIRED</span></td>
          <td></td>
          <td class="title">Start Date<span>OPTIONAL</span></td>
          <td><input class="range-display" type="text" name="start_date" placeholder="MM-DD-YYYY" data-start-date="<%= moment().format('MM-DD-YYYY') %>"/></td>
        </tr>
        <tr>
          <td><input class="name_campaign" type="text" name="name" placeholder="New Branding Initiative" required/></td>
          <td></td>
          <td class="title">End Date<span>OPTIONAL</span></td>
          <td><input class="range-display" type="text" name="end_date" placeholder="MM-DD-YYYY" data-start-date="<%= moment().add(1, "day").format('MM-DD-YYYY') %>"/></td>
        </tr>
      </table>
    </div>
    <div class="section">
      <div class="header">Creative</div>
      <div>
        <%= company %> supports the IAB <strong>300 x 250</strong> format. After 
        uploading your image, you will have the ability to crop and resize your image.
        Please note the description field is optional.
      </div>
      <br>
      <div class="left split fourty">
        <table>
          <tr>
            <td>
              <input name="creative[image_url]" class="simulator-image" type="hidden" role="uploadcare-uploader"
                data-crop="450x375 upscale" data-images-only="true" data-clearable required/>
            </td>
          </tr>
          <tr>
            <td><textarea class="simulator-watch simulator-description input" type="text" name="creative[description]" placeholder="Description (OPTIONAL)"></textarea></td>
          </tr>
          <tr>
            <td><input class="simulator-watch simulator-link input" type="url" name="creative[link]" placeholder="Click Link" required/></td>
          </tr>
        </table>
      </div>
      <div class="right split half">
        <div class="simulator">
          <a target="_blank" href="#">
            <img/>
            <div></div>
          </a>
          <strong>Previewer</strong>
        </div>
      </div>
      <div class="clear"></div>
      <br><br>
      <textarea class="input" type="text" name="creative[trackers]" placeholder="Impression Trackers - One per line"></textarea>
    </div>
    <div class="section">
      <div class="header">
        Industries <span>(<span class="selection-shortcut" data-for="audience">select all</span>)</span>
      </div>
      <div id="audience" class="selection" data-select="multi">
        <% industries.forEach(function(industry) { %>
          <div class="option" data-value="<%= industry.id %>">
            <div class="metric">
              $<%= industry.cpm %> <span>CPM</span>
            </div>
            <div class="name"><%= industry.name %></div>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="section">
      <div class="header">Impressions</div>
      <table class="impressions_table hidden">
        <thead>
          <tr>
            <th><span>Industry</span></th>
            <th><span>Model</span></th>
            <th class="impressions"><span>Est. Impressions</span></th>
            <th><span>Cost</span></th>
          </tr>
        </thead>
        <tbody>
          <% industries.forEach(function(industry, i) { %>
            <tr id="industry_<%= industry.id %>" class="hidden" data-cpm="<%= industry.cpm %>">
              <input type="hidden" name="targeting[<%= i %>][industry]" value="<%= industry.id %>" required>
              <input type="hidden" class="activated_input" name="targeting[<%= i %>][activated]" value="false"/>
              <td class="title"><%= industry.name %></td>
              <td class="metric text-center">
                $<%= industry.cpm %>
                <span>CPM</span>
              </td>
              <td class="impressions">
                <div class="group">
                  <div class="fa fa-sort"></div>
                  <select class="input only" name="targeting[<%= i %>][impressions]">
                    <option disabled="disabled" value="" selected>Quantity</option>
                    <%
                      var max = industry.max_impressions
                      var options = 25
                      var increment = max/options
                    %>
                    <% for(i = increment; i <= max; i += increment) { %>
                      <option value="<%= i %>"><%= numeral(i).format('0,0') %></option>
                    <% } %>
                    <% if(i < max) { %>
                      <option value="<%= max %>"><%= numeral(max).format('0,0') %></option>
                    <% } %>
                  </select>
                </div>
              </td>
              <td class="total metric text-right">$0</td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="impressions_empty">
        Please Select An Industry
      </div>
    </div>
    <div class="section">
      <% include ../../../includes/csrf %>
      <button type="submit" class="button">
        Create Campaign <span class="fa fa-arrow-right"></span>
      </button>
      <div class="error"></div>
    </div>
  </form>
</div>
<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url gdrive dropbox skydrive box";
  UPLOADCARE_PUBLIC_KEY = "39cde2ac83d04e6dbd0a";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>