<a class="dashboard-back fa fa-arrow-left" href="/demand/<%= advertiser.key %>/campaigns"></a>

<div class="display full builder">
  <form method="POST" action="<%= path %>">
    <div class="section">
      <table class="top-table">
        <tr>
          <td class="title">Campaign Name<span>REQUIRED</span></td>
          <td class="title">Pricing<span>REQUIRED</span></td>
          <td class="title">Start Date<span>OPTIONAL</span></td>
          <td class="title">End Date<span>OPTIONAL</span></td>
        </tr>
        <tr>
          <td>
            <input class="full-input" type="text" name="name" placeholder="New Branding Initiative" required/>
          </td>
          <td>
            <div class="group pricing-input">
              <div class="fa fa-sort"></div>
              <select class="input only " name="model">
                <option value="cpm" selected>CPM</option>
                <option value="cpc">CPC</option>
              </select>
            </div>
          </td>
          <td>
            <div class="group left-align date-input">
              <div class="fa fa-calendar"></div>
              <input class="range-display" type="text" name="start_date" placeholder="MM-DD-YYYY" data-start-date="<%= moment().add(1, "day").format('MM-DD-YYYY') %>"/>
            </div>
          </td>
          <td>
            <div class="group left-align date-input last">
              <div class="fa fa-calendar"></div>
              <input class="range-display" type="text" name="end_date" placeholder="MM-DD-YYYY" data-start-date="<%= moment().add(2, "day").format('MM-DD-YYYY') %>"/>
            </div>
          </td>
        </tr>
      </table>
    </div>
    
    <% if(user.is_admin) { %>
      <div class="section">
        <div class="header">House <span class="bubble">ADMIN</span></div>
        <p>
          House ads are designed for testing and will not show up on a publisher's dashboard or payouts. 
          They will be marked as free so you don't have to pay to run the campaign.
        </p>
        <table class="targeting-table">
          <tr>
            <td class="title">Enabled<span>REQUIRED</span></td>
            <td valign="top">
              <div class="group">
                <div class="fa fa-sort"></div>
                <select class="input only is-house" name="is_house">
                  <option value="false" selected>False</option>
                  <option value="true">True</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <% } %>
    
    
    <div class="section">
      <div class="header">Creative</div>
      <p>
        <%= company %> supports the IAB <strong>300 x 250</strong> format. After 
        uploading your image, you will have the ability to crop and resize your image.
        Please note the description field is optional.
      </p>
      <br>
      <div class="left split half">
        <table>
          <tr>
            <td>
              <input name="creative[image_url]" class="simulator-image" type="hidden" role="uploadcare-uploader"
                data-crop="450x375 upscale" data-images-only="true" data-clearable required/>
            </td>
          </tr>
          <tr>
            <td><textarea class="simulator-watch simulator-description input" type="text" name="creative[description]" placeholder="Description (OPTIONAL)"></textarea></td>
          </tr>
          <tr>
            <td><input class="simulator-watch simulator-link input" type="url" name="creative[link]" placeholder="Click Link" required/></td>
          </tr>
        </table>
      </div>
      <div class="right split half">
        <div class="simulator">
          <a target="_blank" href="#">
            <img/>
            <div></div>
          </a>
          <strong>Previewer</strong>
        </div>
      </div>
      <div class="clear"></div>
      <br><br>
      <textarea class="input" type="text" name="creative[trackers]" placeholder="Impression Tracking Links  (One per line)"></textarea>
    </div>
    
    
    <div class="section">
      <div class="header">Targeting</div>
      <p>
        Leaving a field blank will disable targeting for that attribute.
      </p>
      <table class="targeting-table">
        <tr>
          <td class="title">Days<span>OPTIONAL</span></td>
          <td valign="top">
            <select class="chosen-select full" name="targeting[days][]" multiple data-placeholder="Select the days to target...">
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Saturday</option>
              <option value="sunday">Sunday</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="title">Devices<span>OPTIONAL</span></td>
          <td valign="top">
            <select class="chosen-select full" name="targeting[devices][]" multiple data-placeholder="Select the devices to target...">
              <option value="desktop">Desktop</option>
              <option value="mobile">Mobile</option>
              <option value="tablet">Tablet</option>
              <option value="tv">Smart TV</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="title">Operating Systems<span>OPTIONAL</span></td>
          <td valign="top">
            <select class="chosen-select full" name="targeting[os][]" multiple data-placeholder="Select the operating systems to target...">
              <option value="windows">Windows</option>
              <option value="osx">OSX</option>
              <option value="linux">Linux</option>
              <option value="ios">iOS</option>
              <option value="android">Android</option>
              <option value="windows phone">Windows Phone</option>
              <option value="blackberry">Blackberry</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="title">Browsers<span>OPTIONAL</span></td>
          <td valign="top">
            <select class="chosen-select full" name="targeting[browsers][]" multiple data-placeholder="Select the browsers to target...">
              <option value="chrome">Chrome</option>
              <option value="firefox">Firefox</option>
              <option value="safari">Safari</option>
              <option value="opera">Opera</option>
              <option value="ie">Internet Explorer</option>
              <option value="edge">Microsoft Edge</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="title">Countries<span>OPTIONAL</span></td>
          <td valign="top">
            <select class="chosen-select full" name="targeting[countries][]" multiple data-placeholder="Select the countries to target...">
              <% 
                regions = Object.keys(country_data.regions)
                regions.forEach(function(region_code) {
                  region = country_data.regions[region_code] 
                  region.countries = region.countries.filter(function(country) {
                    return approved_countries.indexOf(country.toLowerCase()) > -1
                  })
                  
                  if(region.countries.length == 0) return;
              %>
                <optgroup label="<%= region.name %>">
                  <% region.countries.forEach(function(code) { %>
                    <% country = country_data.countries[code] %>
                    <option value="<%= country.alpha2.toLowerCase() %>"><%= country.name %></option>
                  <% }) %>
                </optgroup>
              <% }) %>
            </select>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="section industries">
      <div class="header">
        Industries <span>(<span class="selection-shortcut" data-for="audience">select all</span>)</span>
      </div>
      <div class="selection" data-select="multi">
        <% industries.forEach(function(industry) { %>
          <div class="option" data-value="<%= industry.id %>" data-cpm="<%= industry.cpm %>" data-cpc="<%= industry.cpc %>">
            <div class="metric">
              $<cost><%= industry.cpm %></cost> <span>CPM</span>
            </div>
            <div class="name"><%= industry.name %></div>
          </div>
        <% }) %>
      </div>
    </div>
    
    
    <div class="section cpm model_table">
      <div class="header">Impressions</div>
      <table class="selection_table hidden">
        <thead>
          <tr>
            <th><span>Industry</span></th>
            <th><span>Cost</span></th>
            <th><span>Impressions</span></th>
            <th><span>Budget</span></th>
          </tr>
        </thead>
        <tbody>
          <% industries.forEach(function(industry, i) { %>
            <tr class="hidden industry_<%= industry.id %>" data-amount="<%= industry.cpm %>" data-model="cpm">
              <input type="hidden" name="industries[cpm][][<%= i %>][industry]" value="<%= industry.id %>" required>
              <input type="hidden" class="activated_input" name="industries[cpm][][<%= i %>][activated]" value="false"/>
              <td class="title"><%= industry.name %></td>
              <td class="metric text-center">
                $<%= industry.cpm %>
                <span>CPM</span>
              </td>
              <td class="impressions">
                <input class="number" name="industries[cpm][][<%= i %>][quantity]" type="text" placeholder="Max: <%= numeral(industry.max_impressions).format("0,000") %>"/>
              </td>
              <td class="total metric text-right">$0.00</td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="selection_empty">
        Please Select An Industry
      </div>
    </div>
    
    <div class="section cpc model_table hidden">
      <div class="header">Clicks</div>
      <table class="selection_table hidden">
        <thead>
          <tr>
            <th><span>Industry</span></th>
            <th><span>Cost</span></th>
            <th><span>Clicks</span></th>
            <th><span>Budget</span></th>
          </tr>
        </thead>
        <tbody>
          <% industries.forEach(function(industry, i) { %>
            <tr class="hidden industry_<%= industry.id %>" data-amount="<%= industry.cpc %>" data-model="cpc">
              <input type="hidden" name="industries[cpc][][<%= i %>][industry]" value="<%= industry.id %>" required>
              <input type="hidden" class="activated_input" name="industries[cpc][][<%= i %>][activated]" value="false"/>
              <td class="title"><%= industry.name %></td>
              <td class="metric text-center">
                $<%= industry.cpc %>
                <span>CPC</span>
              </td>
              <td class="impressions">
                <input class="number" name="industries[cpc][][<%= i %>][quantity]" type="text" placeholder="Max: <%= numeral(industry.max_impressions).format("0,000") %>"/>
              </td>
              <td class="total metric text-right">$0.00</td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="selection_empty">
        Please Select An Industry
      </div>
    </div>
    
    
    <div class="section">
      <div class="split half left quote-box">
        <div class="quote">$0.00</div>
        <div class="information">TOTAL BUDGET</div>
      </div>
      <div class="split half right">
        <% include ../../../includes/csrf %>
        <button type="submit" class="button">
          Create Campaign <span class="fa fa-arrow-right"></span>
        </button>
        <div class="error"></div>
      </div>
      <div class="clear"></div>
    </div>
  
  </form>
</div>
<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url gdrive dropbox skydrive box";
  UPLOADCARE_PUBLIC_KEY = "39cde2ac83d04e6dbd0a";
  UPLOADCARE_LOCALE = 'en';
  UPLOADCARE_LOCALE_TRANSLATIONS = {
    buttons: {
      cancel: "uploading image...",
      remove: "Remove Image",
      choose: {
        images: {
          one: 'Select Image',
        }
      }
    }
  };
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>