<% include ../includes/start %>
<% include ../includes/navigation %>
<div class="container <%= subdashboard == "billing" ? "large" : ""  %>">
  <div class="sidebar">
    <ul>
      <li class="<%= isActive(subdashboard, "profile") %>">
        <a href="/account/profile">
          <span class="fa fa-user"></span>
          Account
        </a>
      </li>
      <li class="<%= isActive(subdashboard, "password") %>">
        <a href="/account/password">
          <span class="fa fa-key"></span>
          Password
        </a>
      </li>
      <li class="<%= isActive(subdashboard, "billing") %>">
        <a href="/account/billing">
          <span class="fa fa-credit-card"></span>
          Billing
        </a>
      </li>
    </ul>
  </div>
  <div class="display">
    <%- include("./" + subdashboard + "/index") %>
  </div>
  <div class="clear"></div>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>