<% include ../includes/start %>
<div class="navigation <%= type %>">
  <div class="right links">
    <% if(user.is_admin) { %>
      <a href="/admin">
        Admin Center
      </a>
      <span class="spacer"></span>
    <% } %>
    <a href="/account">
      Profile
    </a>
    <a href="/logout">
      Logout
    </a>
  </div>
  <div class="clear"></div>
</div>
<div class="container">
  <div class="sidebar">
    <ul>
      <li class="<%= isActive(dashboard, "profile") %>">
        <a href="/account/profile">
          <span class="fa fa-user"></span>
          Account
        </a>
      </li>
      <li class="<%= isActive(dashboard, "password") %>">
        <a href="/account/password">
          <span class="fa fa-key"></span>
          Password
        </a>
      </li>
      <li class="<%= isActive(dashboard, "notifications") %>">
        <a href="/account/notifications">
          <span class="fa fa-bell"></span>
          Notifications
        </a>
      </li>
      <% if(user.is_admin || user.type == "demand") { %>
        <li class="<%= isActive(dashboard, "billing") %>">
          <a href="/account/billing">
            <span class="fa fa-credit-card"></span>
            Billing
          </a>
        </li>
      <% } %>
    </ul>
  </div>
  <div class="display">
    <%- include("./" + dashboard + "/index") %>
  </div>
  <div class="clear"></div>
</div>
<% include ../includes/footer %>
<% include ../includes/end %>